---
layout: default
title: Alumni Executive Committee
---

<div class="container">
  <h1 class="text-page-header">Meet our alumni leaders</h1>
  <h2 class="text-page-subheader"><span class="text-page-subheader--bold">Our Alumni Executive Committee</span> is a dedicated group of former scholars who are committed to giving back and shaping the future of our organization. With their wealth of experience and a shared passion for education, they provide guidance, mentorship, and strategic direction. Together, they help us strengthen our mission and empower the next generation of achievers. Learn more about the remarkable individuals who are driving our vision forward.</h2>

  <div class="staff-list">  
    {% include components/alumni-committee-member.html
      name="Jared Gajos"
      filename="jared-gajos2"
      text=", a strong advocate for continued education and the recipient of the 2024 Sutar Sutaruk Meyer Promise Zone Scholar of Excellence Award, is an example of what the Promise Zone has and will deliver to the students of the Hazel Park School District. From being in the last graduating class of Ford Elementary before moving on to Hazel Park Junior High and Hazel Park High School, he admits that he did not envision himself with a master’s degree until it finally happened.<br/><br/>
      Through the resources provided by the Hazel Park Promise Zone, Jared, a first-generation college student, was able to apply and get accepted into his alma mater - Michigan State University - for his undergraduate degrees before being accepted and completing his master’s degree from Wayne State Law School. In 2024 he was honored as one of the Crain’s Detroit Business Notable Non-profit Board Leaders for his work with the Alliance of Coalitions for Healthy Communities, a 501(c)3 that seeks harm reduction, wellness, and substance prevention."
    %}

    {% include components/alumni-committee-member.html
      name="Dr. Mike Sterner"
      filename="michael-sterner"
      text=" is a graduate of Hazel Park High School from the Class of 2012. Since graduating from Hazel Park, he went to Michigan State University for undergraduate where he was a Promise Zone Scholar who benefitted from the funds of the Promise that went towards his undergraduate education. He graduated from Michigan State in 2016 and got his Bachelor of Science in Human Biology then subsequently went on to Michigan State University’s College of Osteopathic Medicine where he completed his education and got his D.O. (Doctor of Osteopathic Medicine) in 2021.<br/><br/>
      He went on to complete three years of residency training in Family Medicine at McLaren Macomb. Upon completion of residency, he has since been working as a practicing Family Medicine physician as well as a core faculty member with the McLaren Greater Lansing Family Medicine Program in Lansing, MI. He is proud to say that the Promise Scholarship played a significant role in helping him get to where he is today."
    %}

    {% include components/alumni-committee-member.html
      name="Veronica Stachurski"
      filename="veronica-stachurski2"
      text=" is a licensed attorney in Michigan and Minnesota. Ms. Stachurski specializes in public school and special education law, in addition to handling constitutional and civil rights matters, as well as administrative procedural law. She practices at the Law Offices of Lisa C. Ward, PLLC, and is hired by attorneys throughout the state to consult on legal drafting for their cases.<br/><br/>
      Ms. Stachurski was appointed as a member of the Foster Care Review Board and served as a member in Region 2 from October 2023 to January 2025. In conjunction with this work, Ms. Stachurski is on the Board of Directors of Stahili Foundation, an international nonprofit organization, which primarily focuses on child protection, development, and education in Kenya."
    %}

    {% include components/alumni-committee-member.html
      name="Robin Kendziorski"
      filename="robin-k"
      text=" is a 2019 graduate of Hazel Park Schools. She earned her Bachelor's degree in HVACR Engineering Technology and Energy Management from Ferris State University in 2023, and was fortunate enough to receive the Promise Zone scholarship during her time there. She currently works as a Commercial HVAC Controls Technician for Trane. She is so excited to be part of the alumni committee to be able to give back and support the next generation of scholars!"
    %}
  </div>
</div>