---
layout: default
title: Annual Fundraiser
---

<div class="container">
  <h1 class="text-page-header">Thank you for attending the 2026 Race to College Dinner!</h1>
  <h2 class="text-page-subheader">
    <span class="text-page-subheader--bold">Since 2014, The Race to College Dinner reflects the full scope of the Promise Zone,</span> bringing together
    students, families, alumni, administrators, partners, and sponsors to celebrate and fund our mission. It is where the state of the Promise is shared through
    both stories and our data-driven impact while awards recognize the people and partnerships that both believe in students, and do the work to support them.
    All funds raised during our Annual Fundraiser go directly back into the college access and success work we do at the Promise Zone.
  </h2>
  <h2 class="text-subheader text-align-center">Congratulations to the following individuals and organizations for the following awards</h2>

  <div class="award-winners">
    <!-- prettier-ignore-->
    {% include components/award-winner.html name="Ellen Cogen Lipton, JD" filename="ellen-lipton" award-name="William C. Hitchcock Promise Zone Service Award"
    other-info="Presented by Ed Klobucher, City Manager of Hazel Park." %}
    <!-- prettier-ignore-->
    {% include components/award-winner.html name="Oakland 80" filename="oakland_80" award-name="Above and Beyond Award" other-info="Accepted by Rana Al-Igoe, Administrator, and Tamara Myles, Director." %}
    <!-- prettier-ignore-->
    {% include components/award-winner.html name="Ryan Drew" filename="ryan-drew" award-name="Sutar-Sutaruk-Meyer Promise Zone Scholar of Excellence Award"
    other-info="Presented by Bradley Wilkins, Director of Technology, Hazel Park School District." %}
  </div>
  <h2 class="text-subheader text-align-center">Missed us this year? View photos and the dinner recording below!</h2>
  <p class="text-align-center mb-xxl">Thank you to Charles Pleiness and Morgan Lee for the photography.</p>
  {% include components/gallery.html %}
  <div class="video-wrapper">
    <iframe
      class="video"
      width="960"
      height="560"
      src="https://www.youtube.com/embed/4dP2TWZ6YyQ"
      title="YouTube video player"
      frameborder="0"
      allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
      referrerpolicy="strict-origin-when-cross-origin"
      allowfullscreen
    ></iframe>
  </div>
  <h2 class="text-subheader text-align-center">Our sponsorship packages are changing. Stay tuned for more details!</h2>
</div>
