---
layout: default
title: Contact
---

<div class="container">
  <h1 class="text-page-header">Get in touch with us!</h1>
  <h2 class="text-page-subheader"><span class="text-page-subheader--bold">We’re here to assist you</span> with any questions, feedback, or support you may need. Whether you’re seeking more information about our programs, need help with your application, or want to get involved, our team is ready to help. Reach out to us by phone, email, or fill out the form below!</h2>

  <div class="contact-methods slide-up">
    <div class="contact-methods__phone slide-right">
      <div class="pb-xxl">
        {% include svgs/phone.html %}
      </div>
      <a href="tel:+12486585183" class="contact-methods__phone__phone-number text-header">(248)-658-5183</a>
    </div>
    <div class="line line--vertical"></div>
    <div class="contact-methods__email slide-left">
      <div class="pb-xxl">
        {% include svgs/envelope.html %}
      </div>
      <a href="mailto:moussa.traore@myhpsd.org" class="contact-methods__email__email-address text-header">moussa.traore@myhpsd.org</a>
      <a href="mailto:promisezone@myhpsd.org" class="contact-methods__email__email-address text-header">promisezone@myhpsd.org</a>
    </div>
  </div>

  <div class="contact-wrapper slide-up">
    <iframe class="contact-form" src="https://docs.google.com/forms/d/e/1FAIpQLSdvRmSQe8nMAQXBTilMoDndnktWRd_Pdyo46rh4mtM-gns5lQ/viewform?embedded=true" frameborder="0" marginheight="0" marginwidth="0">Loading…</iframe>
  </div>
</div>