---
layout: default
title: In the News
---

<div class="container">
  <h1 class="text-page-header">See the Promise Zone in the news!</h1>
  <h2 class="text-page-subheader"><span class="text-page-subheader--bold">Discover videos about our organization</span> to keep you informed and inspired. Explore our latest updates, success stories, and insights that highlight our ongoing efforts and community impact. Check back regularly to stay connected and see how we're making a difference together.</h2>

  <div class="years">
    <div class="year">
      <div class="reports slide-right">
        <h3 class="year__title text-header text-header--dark">2023 Fundraising Dinner</h3>
        {% include components/report.html title="Moussa Traore reports on the state of the Promise Zone." link="https://www.youtube.com/watch?v=Rqr3Rvxmea8&t=4s&ab_channel=BrianPaulCinematography" %}
      </div>
      <img class="year__image slide-left" src="{{ site.baseurl }}/assets/images/backgrounds/fundraiserDinner2023.jpg" alt="Students and Promise Zone staff at the fundraiser dinner" />
    </div>
  
    <div class="year">
      <div class="reports slide-left">
        <h3 class="year__title text-header text-header--dark">2022 Fundraising Dinner</h3>
        {% include components/report.html title="Governor Gretchen Whitmer’s special keynote." link="https://www.youtube.com/watch?v=Rqr3Rvxmea8&t=4s&ab_channel=BrianPaulCinematography" %}
        {% include components/report.html title="State Representative Regina Weiss gives a special message." link="https://www.youtube.com/watch?v=2eLnAnrBH_U&ab_channel=HazelParkPromiseZone" %}
        {% include components/report.html title="Oakland County Commissioner, Charlie Cavell, gives a special message." link="https://www.youtube.com/watch?v=w75st-pE5cU&ab_channel=HazelParkPromiseZone" %}
        {% include components/report.html title="Fox 2 Detroit talks about Promise Zone's effort to raise money." link="https://www.fox2detroit.com/video/909461" %}
      </div>
      <img class="year__image slide-right" src="{{ site.baseurl }}/assets/images/backgrounds/fundraiserDinner2022.jpg" alt="Students and Promise Zone staff at the fundraiser dinner" />
    </div>

    <div class="year">
      <div class="reports slide-right">
        <h3 class="year__title text-header text-header--dark">2020 Fundraising Dinner</h3>
        {% include components/report.html title="WXYZ-TV Detroit highlights the Promise Zone's Annual Fundraiser." link="https://www.youtube.com/watch?v=dHYn-t1vvYg&t=2s&ab_channel=WXYZ-TVDetroit%7CChannel7" %}
      </div>
      <img class="year__image slide-left" src="{{ site.baseurl }}/assets/images/backgrounds/promiseZone2020.jpg" alt="Students and Promise Zone staff at the fundraiser dinner" />
    </div>
  </div>
</div>