---
layout: default
title: In the News
---

<div class="container">
  <h1 class="text-page-header">See the Promise Zone in the news!</h1>
  <h2 class="text-page-subheader">
    <span class="text-page-subheader--bold">Discover videos about our organization</span> to keep you informed and inspired. Explore our latest updates, success
    stories, and insights that highlight our ongoing efforts and community impact. Check back regularly to stay connected and see how we're making a difference
    together.
  </h2>

  <div class="years">
    <div class="year">
      <div class="reports slide-right">
        <h3 class="year__title text-header text-header--dark">2026</h3>
        <!-- prettier-ignore -->
        {% include components/report.html title="Promise Zone offers scholarships, post-secondary support"
        button_text="Read"
        link="https://www.candgnews.com/articles/features-news/promise-zone-offers-scholarships-post-secondary-support/" %}
      </div>
      <img
        class="year__image slide-right"
        src="{{ site.baseurl }}/assets/images/news/fernando-and-kitty.webp"
        alt="Director Fernando Monge and Postsecondary Success Coach Katrina Groeller meeting"
      />
    </div>

    <div class="year">
      <div class="reports slide-right">
        <h3 class="year__title text-header text-header--dark">2025</h3>
        <!-- prettier-ignore -->
        {% include components/report.html title="Hazel Park High grads set sights on college with help of Promise Zone"
        button_text="Read"
        link="https://www.candgnews.com/news/promise-zone-continues-sending-hazel-park-graduates-to-college-7717" %}
      </div>
      <img
        class="year__image slide-right"
        src="{{ site.baseurl }}/assets/images/news/fernando-outside-hphs.webp"
        alt="Director Fernando Monge standing in front of Hazel Park High School"
      />
    </div>

    <div class="year">
      <div class="reports slide-right">
        <h3 class="year__title text-header text-header--dark">2023</h3>
        <!-- prettier-ignore -->
        {% include components/report.html title="Moussa Traore reports on the state of the Promise Zone." button_text="Watch"
        link="https://www.youtube.com/watch?v=Rqr3Rvxmea8&t=4s&ab_channel=BrianPaulCinematography" %}

        <!-- prettier-ignore -->
        {% include components/report.html title="Promise Zone continues sending Hazel Park graduates to college." button_text="Read"
        link="https://www.candgnews.com/index.php/news/promise-zone-continues-sending-hazel-park-graduates-to-college-2096" %}
      </div>
      <img
        class="year__image slide-left"
        src="{{ site.baseurl }}/assets/images/news/fundraiserDinner2023.webp"
        alt="Students and Promise Zone staff at the fundraiser dinner"
      />
    </div>

    <div class="year">
      <div class="reports slide-left">
        <h3 class="year__title text-header text-header--dark">2022</h3>
        <!-- prettier-ignore -->
        {% include components/report.html title="Governor Gretchen Whitmer’s special keynote."
        button_text="Watch"
        link="https://www.youtube.com/watch?v=Rqr3Rvxmea8&t=4s&ab_channel=BrianPaulCinematography" %}

        <!-- prettier-ignore -->
        {% include components/report.html title="State
        Representative Regina Weiss gives a special message." button_text="Watch"
        link="https://www.youtube.com/watch?v=2eLnAnrBH_U&ab_channel=HazelParkPromiseZone" %}

        <!-- prettier-ignore -->
        {% include
        components/report.html title="Oakland County Commissioner, Charlie Cavell, gives a special message."
        button_text="Watch"
        link="https://www.youtube.com/watch?v=w75st-pE5cU&ab_channel=HazelParkPromiseZone" %}

        <!-- prettier-ignore -->
        {% include components/report.html title="Fox 2 Detroit talks about Promise Zone's effort to raise money." button_text="Watch" link="https://www.fox2detroit.com/video/909461" %}
      </div>
      <img
        class="year__image slide-right"
        src="{{ site.baseurl }}/assets/images/news/fundraiserDinner2022.webp"
        alt="Students and Promise Zone staff at the fundraiser dinner"
      />
    </div>

    <div class="year">
      <div class="reports slide-right">
        <h3 class="year__title text-header text-header--dark">2020</h3>
        {% include components/report.html title="WXYZ-TV Detroit highlights the Promise Zone's Annual Fundraiser." button_text="Watch"
        link="https://www.youtube.com/watch?v=dHYn-t1vvYg&t=2s&ab_channel=WXYZ-TVDetroit%7CChannel7" %}
      </div>
      <img
        class="year__image slide-left"
        src="{{ site.baseurl }}/assets/images/news/promiseZone2020.webp"
        alt="Students and Promise Zone staff at the fundraiser dinner"
      />
    </div>
  </div>
</div>
