---
layout: default
title: Hazel Park Promise Zone
---

<div id="hero">
  <div id="hero__opacity"></div>
  <h1 id="hero__title" class="text-header-dark">Expert guidance and college preparation for <span id="hero__title--focus">Hazel Park Students</span></h1>
  <h2 id="hero__subtitle">Our organization opens doors to new opportunities and help students achieve their academic and career goals. Join us in making education accessible to all and shaping the leaders of tomorrow.</h2>
  <a href="{{site.baseurl}}/scholarships">
    <button id="hero__button--apply-now" class="button button--large" type="button">Apply Now</button>
  </a>
  <a href="{{site.baseurl}}/donate">
    <button class="button button--alt button--large" type="button">Donate</button>
  </a>
</div>

<div id="tagline-wrapper" class="container">
  <p id="tagline" class="text-header text-header--light">If they dream big and work hard, they will go far!</p>
</div>

<div class="container bg-light">
  <h2 class="text-header text-header--brand text-align-center slide-up">Why choose the Hazel Park Promise Zone?</h2>
  <p class="text-body text-body--bold text-align-center slide-up">
    <span class="text-brand text-body--bold">The Hazel Park Promise</span> and College Access Network is committed to revitalizing the Hazel Park community by increasing its educational attainment and making it an attractive destination for families. We do this by offering a <span class="text-brand">tuition-free path to an associate's degree</span> to resident graduates of Hazel Park Schools and by recruiting and providing college and career preparatory programs to support Hazel Park students.
  </p>
  <div id="why-choose-text">
    <p class="slide-right"><span class="text-brand text-body--bold">Students face various challenges</span> when preparing for college, including navigating the complexities of FAFSA applications, selecting the right college amidst numerous options, and performing well on standardized tests like the SAT. Additionally, <span class="text-brand">finding sufficient financial aid</span> to cover tuition and other expenses adds to their stress. Without personalized guidance, students often feel overwhelmed and uncertain about their future paths.</p>
    <div class="line line--vertical line--brand fade-in"></div>
    <p class="slide-left"><span class="text-brand text-body--bold">The Hazel Park Promise Zone</span> provides a holistic approach to address these challenges. Our dedicated team offers personalized assistance with FAFSA applications, expert guidance in navigating college selection, extensive preparation for the SAT, and a diverse catalog of scholarships. Through our mentorship program and ongoing support, students receive comprehensive <span class="text-brand">guidance, encouragement, and resources</span> to not only succeed in college but also to flourish in their academic and professional pursuits, ensuring a brighter future for themselves and their communities.</p>
  </div>
</div>

<div id="making-a-difference-background" class="container">
  <h2 id="making-a-difference-text" class="text-header text-header--brand text-align-center">Making a difference since 2012</h2>
  <div id="stats-wrapper">
    <div class="stat slide-right">
      <p class="stat__header">240+</p>
      <p class="stat__body text-body text-body--light">students impacted through mentoring</p>
    </div>
    <div class="stat slide-up">
      <p class="stat__header text-header text-header--light">$1M+</p>
      <p class="stat__body text-body text-body--light">awarded in scholarships</p>
    </div>
    <div class="stat slide-left">
      <p class="stat__header text-header text-header--light">400+</p>
      <p class="stat__body text-body text-body--light">students received SAT prep</p>
    </div>
  </div>
</div>

<div class="container bg-brand">
  <h2 class="text-header text-header--light text-align-center">Let us help you every step of the way!</h2>
  <div class="services">
    <div class="services__column">
      <div class="service">
        <svg fill="#f5f5f4" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><!--!Font Awesome Free 6.5.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.--><path d="M64 32C28.7 32 0 60.7 0 96V416c0 35.3 28.7 64 64 64H384c35.3 0 64-28.7 64-64V96c0-35.3-28.7-64-64-64H64zM337 209L209 337c-9.4 9.4-24.6 9.4-33.9 0l-64-64c-9.4-9.4-9.4-24.6 0-33.9s24.6-9.4 33.9 0l47 47L303 175c9.4-9.4 24.6-9.4 33.9 0s9.4 24.6 0 33.9z"/></svg>
        <p class="text-body text-body--light ff-header">SAT Prep</p>
      </div>
      <div class="service">
        <svg fill="#f5f5f4" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><!--!Font Awesome Free 6.5.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.--><path d="M64 32C28.7 32 0 60.7 0 96V416c0 35.3 28.7 64 64 64H384c35.3 0 64-28.7 64-64V96c0-35.3-28.7-64-64-64H64zM337 209L209 337c-9.4 9.4-24.6 9.4-33.9 0l-64-64c-9.4-9.4-9.4-24.6 0-33.9s24.6-9.4 33.9 0l47 47L303 175c9.4-9.4 24.6-9.4 33.9 0s9.4 24.6 0 33.9z"/></svg>
        <p class="text-body text-body--light ff-header">College Selection</p>
      </div>
      <div class="service">
        <svg fill="#f5f5f4" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><!--!Font Awesome Free 6.5.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.--><path d="M64 32C28.7 32 0 60.7 0 96V416c0 35.3 28.7 64 64 64H384c35.3 0 64-28.7 64-64V96c0-35.3-28.7-64-64-64H64zM337 209L209 337c-9.4 9.4-24.6 9.4-33.9 0l-64-64c-9.4-9.4-9.4-24.6 0-33.9s24.6-9.4 33.9 0l47 47L303 175c9.4-9.4 24.6-9.4 33.9 0s9.4 24.6 0 33.9z"/></svg>
        <p class="text-body text-body--light ff-header">Applications</p>
      </div>
    </div>
    <div class="services__column">
      <div class="service">
        <svg fill="#f5f5f4" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><!--!Font Awesome Free 6.5.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.--><path d="M64 32C28.7 32 0 60.7 0 96V416c0 35.3 28.7 64 64 64H384c35.3 0 64-28.7 64-64V96c0-35.3-28.7-64-64-64H64zM337 209L209 337c-9.4 9.4-24.6 9.4-33.9 0l-64-64c-9.4-9.4-9.4-24.6 0-33.9s24.6-9.4 33.9 0l47 47L303 175c9.4-9.4 24.6-9.4 33.9 0s9.4 24.6 0 33.9z"/></svg>
        <p class="text-body text-body--light ff-header">FAFSA</p>
      </div>
      <div class="service">
        <svg fill="#f5f5f4" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><!--!Font Awesome Free 6.5.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.--><path d="M64 32C28.7 32 0 60.7 0 96V416c0 35.3 28.7 64 64 64H384c35.3 0 64-28.7 64-64V96c0-35.3-28.7-64-64-64H64zM337 209L209 337c-9.4 9.4-24.6 9.4-33.9 0l-64-64c-9.4-9.4-9.4-24.6 0-33.9s24.6-9.4 33.9 0l47 47L303 175c9.4-9.4 24.6-9.4 33.9 0s9.4 24.6 0 33.9z"/></svg>
        <p class="text-body text-body--light ff-header">Scholarships</p>
      </div>
      <div class="service">
        <svg fill="#f5f5f4" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><!--!Font Awesome Free 6.5.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.--><path d="M64 32C28.7 32 0 60.7 0 96V416c0 35.3 28.7 64 64 64H384c35.3 0 64-28.7 64-64V96c0-35.3-28.7-64-64-64H64zM337 209L209 337c-9.4 9.4-24.6 9.4-33.9 0l-64-64c-9.4-9.4-9.4-24.6 0-33.9s24.6-9.4 33.9 0l47 47L303 175c9.4-9.4 24.6-9.4 33.9 0s9.4 24.6 0 33.9z"/></svg>
        <p class="text-body text-body--light ff-header">Mentoring</p>
      </div>
    </div>
    <div class="services__column">
      <div class="service">
        <svg fill="#f5f5f4" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><!--!Font Awesome Free 6.5.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.--><path d="M64 32C28.7 32 0 60.7 0 96V416c0 35.3 28.7 64 64 64H384c35.3 0 64-28.7 64-64V96c0-35.3-28.7-64-64-64H64zM337 209L209 337c-9.4 9.4-24.6 9.4-33.9 0l-64-64c-9.4-9.4-9.4-24.6 0-33.9s24.6-9.4 33.9 0l47 47L303 175c9.4-9.4 24.6-9.4 33.9 0s9.4 24.6 0 33.9z"/></svg>
        <p class="text-body text-body--light ff-header">Check-ins</p>
      </div>
      <div class="service">
        <svg fill="#f5f5f4" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><!--!Font Awesome Free 6.5.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.--><path d="M64 32C28.7 32 0 60.7 0 96V416c0 35.3 28.7 64 64 64H384c35.3 0 64-28.7 64-64V96c0-35.3-28.7-64-64-64H64zM337 209L209 337c-9.4 9.4-24.6 9.4-33.9 0l-64-64c-9.4-9.4-9.4-24.6 0-33.9s24.6-9.4 33.9 0l47 47L303 175c9.4-9.4 24.6-9.4 33.9 0s9.4 24.6 0 33.9z"/></svg>
        <p class="text-body text-body--light ff-header">Resource Guides</p>
      </div>
      <div class="service">
        <svg fill="#f5f5f4" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><!--!Font Awesome Free 6.5.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.--><path d="M64 32C28.7 32 0 60.7 0 96V416c0 35.3 28.7 64 64 64H384c35.3 0 64-28.7 64-64V96c0-35.3-28.7-64-64-64H64zM337 209L209 337c-9.4 9.4-24.6 9.4-33.9 0l-64-64c-9.4-9.4-9.4-24.6 0-33.9s24.6-9.4 33.9 0l47 47L303 175c9.4-9.4 24.6-9.4 33.9 0s9.4 24.6 0 33.9z"/></svg>
        <p class="text-body text-body--light ff-header">Book Stipend</p>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <h2 class="text-header text-header--dark text-align-center">What do the students think?</h2>
  <div class="testimonials">
    {% include components/testimonial.html name="Robin Kendziorski" university="Ferris State University - Class of 2023" filename="robin-k" text="helped me to and through my first year of college by providing opportunities for scholarships and a mentorship program before I left. While I was in school, they provided support and scholarship money for me to be able to continue my education. The program offered constant support, which was well over and above my expectations." %}
    {% include components/testimonial.html name="Sara Gajos" university="University of Michigan - Class of 2025" filename="sara-g" text="has been an absolute blessing regarding my college and professional careers. As a low-income, first generation college student, I was completely horrified when heading to the University of Michigan, so being able to have a group of people that had my best interest at heart was beneficial. I learned so much about getting involved in college, how to manage my time and workload, and efficiently build my network. The Hazel Park Promise Zone also aided me in obtaining an internship with Congresswoman Haley Stevens this past summer, and as a political science guru, I could not be more grateful. I have done very well in college so far and I owe a lot of that to the Hazel Park Promise Zone." %}
    {% include components/testimonial.html name="Olivia Fortress" university="Sienna Heights University - Class of 2024" filename="olivia-f" text="has helped me tremendously. Throughout my freshman year of college, I was enrolled in their mentoship program, I was able to find support and was eligible for gift card incentives just for working hard and going to school. These helped pay for books and things I needed during the semester. Thank you Promise Zone!" %}
  </div>
</div>

<div class="container bg-lightest shadow">
  <h2 class="text-header text-align-center">Have Questions?</h2>
  {% include components/faqs.html %}
</div>

<div class="container">
  <div class="cta">
    <div class="cta__students slide-up">
      <h2 class="text-header text-header--dark text-align-center">Students</h2>
      <p class="text-body text-body--dark text-align-center">Don’t waste another minute! Apply for our scholarships, and reach out to our team so we can help you every step of the way!</p>
      <a href="{{ site.baseurl }}/scholarships.html">
        <button type="button" class="button">Apply Now</button>
      </a>
    </div>
    <div class="line line--vertical"></div>
    <div class="cta__supporters slide-up">
      <h2 class="text-header text-header--dark text-align-center">Supporters</h2>
      <p class="text-body text-body--dark text-align-center">Help the next generation of students through the most crucial period of their lives!</p>
      <a href="{{ site.baseurl }}/donate.html">
        <button type="button" class="button">Donate</button>
      </a>
    </div>
  </div>
</div>