---
layout: default
title: Our Work
---

<div class="container">
  <h1 class="text-page-header">The work we do</h1>
  <h2 class="text-page-subheader">
    <span class="text-page-subheader--bold">The Hazel Park Promise Zone</span> is a nonprofit organization committed to supporting the Hazel Park community by
    building a skilled, educated workforce and ensuring the city is an attractive destination for families. We do this by offering college and career planning
    and success services to ALL Hazel Park School District students, their families, and alumni. We are proud to be one of thirteen Promise Zones in Michigan.
  </h2>
  <h2 class="text-page-subheader">
    <span class="text-page-subheader--bold">As a Promise Zone,</span> we are most well-known for offering a tuition-free path to an associate's degree at
    Oakland Community College to resident graduates of Hazel Park Schools. We also offer scholarships for graduates who attend other Michigan trade schools,
    colleges, and universities that accept federal financial aid. Students can also obtain reimbursement for mandatory textbooks and materials for their college
    courses or career programs. We also provide many other services to support the educational and career journeys of our Vikings.
  </h2>

  <div class="mb-xxxxl w-fit-content mi-auto">
    <div class="our-work-items-wrapper">
      <div>
        <div class="card">
          <h2 class="text-subheader text-align-center">As a Promise Zone, we believe that:</h2>
          <!-- prettier-ignore -->
          {% include components/checkmark-and-text.html text='
          <div>
            <p class="pb-md text-bold">Postsecondary education includes many pathways and should be accessible to all</p>
            <p class="pb-xxl text-normal max-w-100">
              College is any education beyond high school, including apprenticeship programs, licenses and certificates, Associate’s and Bachelor’s degrees, and
              professional and graduate programs.
            </p>
          </div>
          ' %}

          <!-- prettier-ignore -->
          {% include components/checkmark-and-text.html text='
          <div>
            <p class="pb-md text-bold">Success depends on meaningful, ongoing support</p>
            <p class="pb-xxl text-normal max-w-100">
              Everyone is more likely to persist to graduation when they receive personalized, responsive guidance along the way.
            </p>
          </div>
          ' %}

          <!-- prettier-ignore -->
          {% include components/checkmark-and-text.html text='
          <div>
            <p class="pb-md text-bold">The ability to further one’s education is a public good worth collective investment</p>
            <p class="text-normal max-w-100">Education strengthens individuals, communities, and our democracy.</p>
          </div>
          ' %}
        </div>
      </div>
    </div>
  </div>
</div>
