---
layout: default
title: Partners & Sponsors
---

<div class="container">
  <h1 class="text-page-header">Celebrating those who’ve helped along the way!</h1>
  <h2 class="text-page-subheader">
    <span class="text-page-subheader--bold">We are grateful</span> for the generous contributions of our partners and supporters. Their commitment to education
    and philanthropy empowers students to reach their full potential. Together, we are making a lasting impact on the future.
  </h2>

  <div class="become-a-sponsor-wrapper slide-up">
    <div class="text-header">Want to support our cause?</div>
    <p class="text-align-center">
      Support our mission to send deserving students to college, provide them with peer-to-peer mentoring, and enhance your business visibility at our annual
      fundraiser dinner. Join us in making a meaningful impact on the future of education.
    </p>
    <a href="{{ site.baseurl }}/annual-fundraiser.html" class="button">Become a sponsor</a>
  </div>

  <div class="text-header text-align-center">Grant Donors</div>
  <div class="sponsor-list">
    {% include components/sponsor.html filename="ballmer_group" alt="Ballmer Group logo" %} {% include components/sponsor.html
    filename="jamie_and_denise_jacob_family_foundation" alt="Jacob Family Foundation logo" %} {% include components/sponsor.html
    filename="sutar_sutarek_meyer_foundation" alt="Sutar-Sutaruk-Meyer Foundation logo" %}
  </div>

  <div class="text-header text-align-center">Senior Sponsors</div>
  <div class="sponsor-list">
    <!-- prettier-ignore -->
    {% include components/sponsor.html filename="amazon-prime" alt="Amazon Prime logo" %}
    <!-- prettier-ignore -->
    {% include components/sponsor.html filename="akash_investment_group" alt="Akash Investment Group logo" %}
    <!-- prettier-ignore -->
    {% include components/sponsor.html filename="capital_sales_company" alt="Capital Sales Company logo" %}
    <!-- prettier-ignore -->
    {% include components/sponsor.html filename="oakland_80" alt="Oakland 80 logo" %}
    <!-- prettier-ignore -->
    {%include components/sponsor.html filename="oakland_county_michigan_works" alt="Oakland County Michigan Works logo" %}
    <!-- prettier-ignore -->
    {% include components/sponsor.html filename="zci_group" alt="ZCI Group logo" %}
  </div>

  <div class="text-header text-align-center">Junior Sponsors</div>
  <div class="sponsor-list">
    {% include components/sponsor.html filename="oakland_county_board_of_commissioners" alt="Oakland County Board of Commissioners logo" %}
  </div>

  <div class="text-header text-align-center">Sophomore Sponsors</div>
  <div class="sponsor-list">{% include components/sponsor.html filename="house_of_shamrocks" alt="House of Shamrocks logo" %}</div>

  <div class="text-header text-align-center">Program Partners</div>
  <div class="sponsor-list">
    {% include components/sponsor.html filename="hazel_park" alt="Hazel Park City logo" %} {% include components/sponsor.html filename="clark_hill" alt="Clark
    Hill logo" %} {% include components/sponsor.html filename="hazel_park_education_association" alt="Hazel Park Education Association logo"
    background-color="#4669ff" %} {% include components/sponsor.html filename="hazel_park_schools" alt="Hazel Park School District logo" %} {% include
    components/sponsor.html filename="kingscott" alt="Kingscott logo" %} {% include components/sponsor.html filename="lpt_realty" alt="LPT Realty logo" %} {%
    include components/sponsor.html filename="michigan_college_access_network" alt="Michigan College Access Network logo" %} {% include components/sponsor.html
    filename="michigan_promise_zones_association" alt="Michigan Promise Zones Association logo" %} {% include components/sponsor.html
    filename="michigan_state_university_college_advising_corps" alt="Michigan State University College Advising Corps logo" %} {% include
    components/sponsor.html filename="oakland_community_college" alt="Oakland Community College logo" %} {% include components/sponsor.html filename="pnc_bank"
    alt="PNC Bank logo" %} {% include components/sponsor.html filename="top_notch_printing" alt="Top Notch Printing logo" %}
  </div>

  <div class="text-header text-align-center">Community Supporters</div>
  <div class="community-supporters slide-up">
    <p>April Beaton</p>
    <p>Alicia Becker</p>
    <p>Lisa Bernys</p>
    <p>Kristy Cales</p>
    <p>Dave Dickens</p>
    <p>Heidi Fortress</p>
    <p>Hazel Park Youth Assistance</p>
    <p>Jason Hodgson</p>
    <p>Kimberly Hurns</p>
    <p>Jennifer Jackson</p>
    <p>Heidi Kunz</p>
    <p>Ellen Lipton</p>
    <p>Joan Lozenich</p>
    <p>Jenny Milhelic</p>
    <p>David Morabito</p>
    <p>Cathy Norander</p>
    <p>Paula Norander</p>
    <p>Monica Rattee</p>
    <p>Reder/Bassett Family</p>
    <p>Dawn Rice</p>
    <p>Louise Steele</p>
    <p>Brad Wilkins</p>
    <p>Dr. Amy Wilcox</p>
    <p>Patrick Wright</p>
    <p>Lazy River Massage</p>
    <p>Julie Webb</p>
    <!-- for proper spacing -->
    <p></p>
  </div>
</div>
