---
layout: default
title: Annual Fundraiser
---

<div class="container">
  <h1 class="text-page-header">Celebrating those who’ve helped along the way!</h1>
  <h2 class="text-page-subheader"><span class="text-page-subheader--bold">We are grateful</span> for the generous contributions of our partners and supporters. Their commitment to education and philanthropy empowers students to reach their full potential. Together, we are making a lasting impact on the future.</h2>

  <div class="become-a-sponsor-wrapper">
    <div class="text-header">Want to support our cause?</div>
    <p class="text-align-center">Support our mission to send deserving students to college, provide them with peer-to-peer mentoring, and enhance your business visibility at our annual fundraiser dinner. Join us in making a meaningful impact on the future of education.</p>
    <a class="button-wrapper" href="{{ site.baseurl }}/annual-fundraiser.html">
      <button type="button" class="button">Become a Sponsor</button>
    </a>
  </div>

  <div class="text-header text-align-center">Senior Sponsors</div>
  <div class="sponsor-list">
    {% include components/sponsor.html filename="sutar" alt="Sutar-Sutaruk-Meyer Foundation logo" %}
    {% include components/sponsor.html filename="ballmer" alt="Ballmer Group logo" %}
    {% include components/sponsor.html filename="jacob-family-foundation" alt="Jacob Family Foundation logo" %}
    {% include components/sponsor.html filename="capital-sales" alt="Capital Sales Company logo" %}
    {% include components/sponsor.html filename="hpschools" alt="Hazel Park Schools logo" %}
    {% include components/sponsor.html filename="cohp" alt="City of Hazel Park logo" %}
  </div>

  <div class="text-header text-align-center">Junior Sponsors</div>
  <div class="sponsor-list">
    {% include components/sponsor.html filename="lipton" alt="Lipton Law logo" %}
    {% include components/sponsor.html filename="robertson" alt="Robertson Homes logo" %}
    {% include components/sponsor.html filename="dispo" alt="Dispo logo" %}
    {% include components/sponsor.html filename="fh-holdings" alt="FH Holdings logo" %}
  </div>

  <div class="text-header text-align-center">Sophomore Sponsors</div>
  <div class="sponsor-list">
    {% include components/sponsor.html filename="oakland80" alt="Oakland 80 logo" %}
    {% include components/sponsor.html filename="bdt" alt="BDT logo" %}
    {% include components/sponsor.html filename="miworks" alt="Oakland County Michigan Works logo" %}
    {% include components/sponsor.html filename="flavor-galaxy" alt="Flavor Galaxy logo" %}
    {% include components/sponsor.html filename="my-town-properties" alt="My Town Properties logo" %}
    {% include components/sponsor.html filename="kingscott" alt="Kingscott logo" %}
  </div>

  <div class="text-header text-align-center">Freshman Sponsors</div>
  <div class="sponsor-list">
    {% include components/sponsor.html filename="baker" alt="Baker College logo" %}
    {% include components/sponsor.html filename="steadfast" alt="Steadfast logo" %}
    {% include components/sponsor.html filename="trucenta" alt="Trucenta logo" %}
    {% include components/sponsor.html filename="community-bank" alt="Community Unity Bank logo" %}
    {% include components/sponsor.html filename="gumma" alt="Gumma Group logo" background-color="#000" %}
    {% include components/sponsor.html filename="breeze" alt="Breeze logo" background-color="#000" %}
  </div>

  <div class="text-header text-align-center">Program Partners</div>
  <div class="sponsor-list">
    {% include components/sponsor.html filename="occ" alt="Oakland Community College logo" %}
    {% include components/sponsor.html filename="interstate" alt="Interstate Auto Wash logo" %}
    {% include components/sponsor.html filename="wilson-wilson" alt="Wilson and Wilson logo" %}
    {% include components/sponsor.html filename="gt-scrap" alt="GT Scrap Recycling logo" background-color="#93979A" %}
    {% include components/sponsor.html filename="clark-construction" alt="Clark Construction Company logo" %}
    {% include components/sponsor.html filename="remax" alt="ReMax in the Park Logo" %}
    {% include components/sponsor.html filename="hazelpark" alt="Hazel Park City logo" %}
    {% include components/sponsor.html filename="hpea" alt="Hazel Park Education Association logo" background-color="#5268B1" %}
  </div>

  <div class="text-header text-align-center">Community Funders</div>
  <div class="community-funders">
    <p>Benjamin Ervin</p>
    <p>Ryan Voss</p>
    <p>Jill Norander</p>
    <p>HPEA - Water Bottles</p>
    <p>Nix Family</p>
    <p>Charmain Solomon - Candid Candle Co.</p>
    <p>Dawn Rice - Hazel Park School Board Vice President</p>
    <p>Monica Rattee</p>
    <p>Joe Marchione</p>
    <p>Steven Hadad - Capital Sales</p>
    <p>Mike McFall - State Representative of Michigan</p>
    <p>Kayln McGinnis - Elite McGinnis</p>
    <p>Ellen Lipton - Lipton Law</p>
    <p>Dr. Amy Kruppe - Hazel Park Superintendent</p>
    <p>Pam Zyski - Re/Max in the Park</p>
    <p>Joan Lozenich</p>
    <p>Janice Howard</p>
    <p>Alicia Becker - Hoover Elementary Teacher</p>
    <p>Sue Norander</p>
    <p>Bill Hitchcock - Re/Max in the Park</p>
    <p>Queen Bee Mercantile - Hazel Park Promise Card Holders for Cell Phones</p>
  </div>

</div>