---
layout: default
title: Resources
---

<div class="container">
  <h1 class="text-page-header">Empower your journey with essential resources!</h1>
  <h2 class="text-page-subheader">
    <span class="text-page-subheader--bold">Explore our collection of valuable links and guides</span> designed to help you navigate the path to higher
    education. Whether you're looking for information on scholarships, college applications, or financial aid, these resources are curated to support your
    academic and professional aspirations. Explore the links below to access the tools and information you need to succeed.
  </h2>

  <h2 class="text-header text-align-center resources-category-header">Career Exploration</h2>
  <p class="resources-category-description">
    Below is a curated collection of reputable resources aimed at guiding individuals through discovering careers and creating a roadmap to success. Regardless
    of the career path you choose, use these resources and our expertise to guide your decisions!
  </p>

  <div class="resources">
    <!-- prettier-ignore -->
    {% include components/resource.html
      title="CareerOneStop"
      description="Learn about careers, find career information, and locate career resources and advice."
      link="https://www.careeronestop.org/"
      logo='<img src="BASEURL/assets/images/resources/career-onestop.webp" alt="CareerOneStop logo" />' %}

    <!-- prettier-ignore -->
    {% include components/resource.html
      title="My Next Move"
      description="Service helps individuals explore over 900 career options including tasks, skills, and salary data."
      link="https://www.mynextmove.org/"
      logo='<img src="BASEURL/assets/images/resources/my-next-move.svg" alt="My Next Move logo" />' %}

    <!-- prettier-ignore -->
    {% include components/resource.html
      title="O*Net Interest Profiler"
      description="Discover your work-related interests and explore career options that are a good fit."
      link="https://onetinterestprofiler.org/"
      logo='<img src="BASEURL/assets/images/resources/onet-interest-profiler.webp" alt="O*Net Interest Profiler logo" />' %}

    <!-- prettier-ignore -->
    {% include components/resource.html
      title="Roadtrip Nation"
      description="The best career paths for you will always start at the place where your interests meet—so let’s find that intersection!"
      link="https://roadtripnation.com/roadmap"
      logo='<img src="BASEURL/assets/images/resources/roadtrip-nation.svg" alt="Roadtrip Nation logo" />' %}

    <!-- prettier-ignore -->
    {% include components/resource.html
      title="Michigan Career Pathfinder"
      description="Create a custom roadmap by exploring careers, schools and programs in Michigan."
      link="https://pathfinder.mitalent.org/ "
      logo='<img src="BASEURL/assets/images/resources/michigan-career-pathfinder.svg" alt="Michigan Career Pathfinder logo" />' %}

    <!-- prettier-ignore -->
    {% include components/resource.html
      title="Michigan Construction Careers"
      description="Provides information on trades careers and how to access the excellent training provided through union apprenticeship and journeyman training programs."
      link=" http://miconstructioncareers.org/"
      logo='<img src="BASEURL/assets/images/resources/michigan-construction-careers.webp" alt="Michigan Construction Careers logo" />' %}
  </div>

  <h2 class="text-header text-align-center resources-category-header">College Search and Choice</h2>
  <p class="resources-category-description">
    The simple act of looking at colleges can be daunting. With many different things to consider from size of the school to distance from home, finding even
    where to apply is sometimes difficult (but worth it!). Some of the resources below can help arm you with the tools to take on this task. If you are ever in
    doubt - reach out to your adviser, navigator, or the Promise Zone for help.
  </p>

  <div class="resources">
    <!-- prettier-ignore -->
    {% include components/resource.html
      title="CollegeBoard"
      description="Access your SAT and AP test scores, send scores to colleges, and explore additional resources for your academic journey. Start now to stay on track for your future goals!"
      link="https://www.collegeboard.org/"
      logo='<img src="BASEURL/assets/images/resources/college-board.svg" alt="College Board logo" />' %}

    <!-- prettier-ignore -->
    {% include components/resource.html
      title="Common App"
      description="The Common App allows you to send one application to multiple colleges throughout our state and the country."
      link="https://www.commonapp.org/"
      logo='<img src="BASEURL/assets/images/resources/common-app.svg" alt="Common App logo" />' %}

    <!-- prettier-ignore -->
    {% include components/resource.html
      title="Make Me a Freshman"
      description="Make Me a Freshman is a free web app that helps students manage college applications by generating personalized checklists for deadlines, essays, and financial aid requirements."
      link="http://makemeafreshman.com/"
      logo='<img src="BASEURL/assets/images/resources/make-me-a-freshman.webp" alt="Make Me a Freshman logo" />' %}

    <!-- prettier-ignore -->
    {% include components/resource.html
      title="Michigan Transfer Network"
      description="Plan on transferring from a community college to a university? Use the Michigan Transfer Network to learn about transfer options and plan your pathway to completion."
      link="https://www.mitransfer.org/"
      logo='<img src="BASEURL/assets/images/resources/michigan-transfer-network.webp" alt="Michigan Transfer Network logo" />' %}

    <!-- prettier-ignore -->
    {% include components/resource.html
      title="NACAC Guide to College Admissions"
      description="This guide offers sound advice on every step of the process, from getting in the right mindset, to researching universities, to completing application materials. This is a fantastic go-to source for everything college admissions!"
      link="https://www.nacacnet.org/nacacs-guide-to-the-college-admission-process/"
      logo='<img src="BASEURL/assets/images/resources/nacac.svg" alt="NACAC logo" />' %}

    <!-- prettier-ignore -->
    {% include components/resource.html
      title="Parchment"
      description="Use Parchment to securely send your high school transcripts to colleges when you apply, plus transfer records when you’re in college."
      link="https://www.parchment.com/"
      logo='<img src="BASEURL/assets/images/resources/parchment.webp" alt="Parchment logo" />' %}
  </div>

  <h2 class="text-header text-align-center resources-category-header">Financial Aid</h2>
  <p class="resources-category-description">
    There are many ways to get financial aid to help you pay for your education. Submitting the FAFSA should be your top priority, then getting scholarships and
    grants, then applying for student loans. The earlier you apply for any of these, the better!
  </p>

  <div class="resources">
    <!-- prettier-ignore -->
    {% include components/resource.html
      title="FAFSA"
      description="Complete your FAFSA application to unlock federal student aid for college. Click
        here to start your application and access grants, loans, and work-study opportunities."
      link="https://studentaid.gov/h/apply-for-aid/fafsa" 
      logo='<img src="BASEURL/assets/images/resources/federal-student-aid.svg" alt="Federal Student Aid logo" />' %}

    <!-- prettier-ignore -->
    {% include components/resource.html
      title="Work-Study"
      description="Work-study programs are made available to students who select the option on their FAFSA. Students who do work-study can work either on- or off-campus, and the monies they receive can go directly to them, or to their semester bills."
      link="https://studentaid.gov/understand-aid/types/work-study"
      logo='<img src="BASEURL/assets/images/resources/federal-student-aid.svg" alt="Federal Student Aid logo" />' %}

    <!-- prettier-ignore -->
    {% include components/resource.html
      title="Federal Student Loans"
      description="There are three types of federal student loans: subsidized, unsubsidized, and ones parents can sign up for to support their student. These should be a last resort and are obtained through completing the FAFSA."
      link="https://studentaid.gov/understand-aid/types/loans"
      logo='<img src="BASEURL/assets/images/resources/federal-student-aid.svg" alt="Federal Student Aid logo" />' %}

    <!-- prettier-ignore -->
    {% include components/resource.html
      title="Community College Guarantee"
      description="The Michigan Community College Guarantee covers in-district tuition, contact hours, and mandatory fees for students."
      link="https://www.michigan.gov/mistudentaid/programs/michigan-achievement-scholarship/community-college-guarantee"
      logo='<img src="BASEURL/assets/images/resources/michigan-student-aid.webp" alt="Michigan Student Aid logo" />' %}

    <!-- prettier-ignore -->
    {% include components/resource.html
      title="Michigan Achievement Scholarship"
      description="The Michigan Achievement Scholarship gives eligible graduating high school seniors up to $5,500 per year if they attend a Michigan public or private college, university, or community college; a total of $27,500!"
      link="https://www.michigan.gov/mistudentaid/programs/michigan-achievement-scholarship/college-and-university"
      logo='<img src="BASEURL/assets/images/resources/michigan-student-aid.webp" alt="Michigan Student Aid logo" />' %}

    <!-- prettier-ignore -->
    {% include components/resource.html
      title="Tuition Incentive Program"
      description="The Tuition Incentive Program (TIP) is a state program that helps certain students receive tuition assistance for the first two years of college and beyond. Students must be eligible and apply before they graduate."
      link="https://www.michigan.gov/mistudentaid/programs/tuition-incentive-program"
      logo='<img src="BASEURL/assets/images/resources/michigan-student-aid.webp" alt="Michigan Student Aid logo" />' %}
  </div>

  <!--Saving for later-->
  <!-- {% include components/resource.html
      title="Skilled Trade and Certification Programs"
      description="Here you'll find a list of all public and private, 2-year and 4-year colleges in Michigan. You can find institution-specific information, such as admissions and financial Learn more about a few trade areas that are currently in high demand. Visit here to find job titles, education credentials needed, and starting hourly rates. This will support you in identifying potential programs that are best for you!"
      link="https://www.detroitcan.org/skilledtrade"
      logo='<img src="BASEURL/assets/images/resources/dcan.png" alt="Detroit College Access Network Logo" />'
    %} -->
</div>
