---
layout: default
title: Summer Scholarship
---

<div class="container">
  <h1 class="text-page-header">Summer Scholarship Overview</h1>

  <p class="text-page-paragraph-intro mb-xxl">
    <span class="text-page-paragraph-intro--bold">All Hazel Park graduates</span> are eligible to attend college during the summer to get ahead in their
    programs or retake courses for better grades at a very affordable cost.
  </p>

  <p class="text-page-paragraph-intro mb-xxl">
    <span class="text-page-paragraph-intro--bold">Scholars who currently attend Oakland Community College,</span> or whose in-district community college is
    Oakland Community College, may receive <span class="text-body--bold text-body--brand">up to 6 credits covered</span> during the summer semester.
  </p>

  <p class="text-page-paragraph-intro mb-xxl">
    <span class="text-page-paragraph-intro--bold">Scholars whose in-district community college is not Oakland Community College</span> may receive
    <span class="text-body--bold text-body--brand">up to 4 credits covered</span> during the summer semester.
  </p>

  <p class="text-page-paragraph-intro mb-xxl">
    <span class="text-page-paragraph-intro--bold">Scholars who would like to take summer courses</span> at another Michigan college or university may receive
    <span class="text-body--bold text-body--brand">up to 4 credits covered at the equivalent cost of their in-district community college.</span>
  </p>

  <p class="text-page-paragraph-intro mb-xxxxl">
    <span class="text-bold">IMPORTANT NOTE:</span> Each scholarship amount will be based on the pricing of the equivalent course at the Scholars’ in-district
    community college, which is likely a fraction of the cost of summer courses at their main postsecondary institution. To ensure our scholarship funding
    benefits as many Scholars as possible, we encourage students to take courses at their in-district community college.
  </p>

  <div class="card mb-xxxxl">
    <h2 class="text-subheader text-align-center">Summer Scholarship Eligibility and Requirements</h2>
    <div class="list">
      <div class="checkbox-with-text">
        {% include svgs/checkbox.html class="fill-brand" %}
        <p class="text-bold"><a href="https://www.tfaforms.com/4848809" target="_blank">Register with the Promise Zone</a></p>
      </div>

      <div class="checkbox-with-text">
        {% include svgs/checkbox.html class="fill-brand" %}
        <p class="text-bold">Graduate from a Hazel Park School District high school within the past 6 years</p>
      </div>

      <div class="checkbox-with-text">
        {% include svgs/checkbox.html class="fill-brand" %}
        <p class="text-bold">
          Be currently enrolled at a community college, college, university, or trade school courses or an apprenticeship program that will accept credits from
          a college course
        </p>
      </div>

      <div class="checkbox-with-text">
        {% include svgs/checkbox.html class="fill-brand" %}
        <div>
          <p class="text-bold pb-xl">Choose your course(s) and meet with academic advisors at both colleges</p>
          <p>
            Confirm the course transfers and fulfills your degree requirement, has no prerequisites (or that you meet them), and does not require placement
            testing. Your community college advisor can also confirm availability, dates/times, and course format.
          </p>
        </div>
      </div>

      <div class="checkbox-with-text">
        {% include svgs/checkbox.html class="fill-brand" %}
        <div>
          <p class="text-bold pb-xl">Apply as a Guest Student to your in-district community college and set up your student account</p>
          <p class="mb-xl">Apply to <a href="https://www.oaklandcc.edu/admissions/guest-student" target="_blank">Oakland Community College</a></p>
          <p class="mb-xl">Apply to <a href="https://www.hfcc.edu/apply/guest" target="_blank">Henry Ford College</a></p>
          <p class="mb-xl">Apply to <a href="https://www.macomb.edu/admissions-aid/guest-students.html" target="_blank">Macomb Community College</a></p>
          <p class="mb-xl">Apply to <a href="https://www.schoolcraft.edu/admissions/apply-to-sc/guest-students/" target="_blank">Schoolcraft College</a></p>
          <p>Apply to <a href="https://www.wcccd.edu/steps-to-enroll" target="_blank">Wayne County Community College</a></p>
        </div>
      </div>

      <div class="checkbox-with-text">
        {% include svgs/checkbox.html class="fill-brand" %}
        <div>
          <p class="text-bold mb-xl">Update your Free Application for Federal Student Aid (FAFSA)</p>
          <p class="mb-xl">
            Navigate to <span class="text-italic">Selected Colleges and Career Schools</span> under your current academic year’s FAFSA and add the in-district
            community college where you intend to take summer courses.
          </p>
          <p>
            <span class="text-bold">IMPORTANT NOTE:</span> Those attending OCC should input the Auburn Hills campus regardless of where they plan to take
            courses.
          </p>
        </div>
      </div>

      <div class="checkbox-with-text">
        {% include svgs/checkbox.html class="fill-brand" %}
        <p class="text-bold">
          <a href="https://docs.google.com/forms/d/e/1FAIpQLSeyc6TS9N7dUnMUvM-mi_uG50eHBIVe4clk0HWo9zAsDw5p8w/viewform" target="_blank"
            >Complete the Summer Scholarship application</a
          >
        </p>
      </div>

      <div class="checkbox-with-text">
        {% include svgs/checkbox.html class="fill-brand" %}
        <p class="text-bold">Enroll in your summer courses</p>
      </div>

      <div class="checkbox-with-text">
        {% include svgs/checkbox.html class="fill-brand" %}
        <p class="text-bold">Maintain a 2.0 cumulative GPA and Satisfactory Academic Progress (SAP)</p>
      </div>

      <div class="checkbox-with-text">
        {% include svgs/checkbox.html class="fill-brand" %}
        <div>
          <p class="text-bold mb-xl">Ensure your class transfers</p>
          <p>
            After the course ends, set up an appointment with your academic advisor at your college and your in-district community college to ensure your course
            actually transfers to your college transcript.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
