---
layout: default
title: Textbooks and School Supplies
---

<div class="container">
  <h1 class="text-page-header">Textbooks and School Supplies Overview</h1>

  <p class="text-page-paragraph-intro mb-xxxxl">
    <span class="text-page-paragraph-intro--bold">All Hazel Park graduates</span> are eligible to receive
    <span class="text-body--bold text-body--brand">up to $500 each semester</span> as reimbursement for their mandatory books and supplies in their courses and
    programs <span class="text-body--bold text-body--brand">regardless of high school graduation year or postsecondary institution.</span> Eligible items for
    reimbursement include textbooks or books (physical or digital), software and technology, specialty protective or career apparel, and other school and studio
    supplies. This funding is supported by a grant and will be offered for as long as that funding remains available.
  </p>

  <div class="card">
    <h2 class="text-subheader text-align-center">Textbooks and School Supplies Funding Eligibility and Requirements</h2>
    <div class="list">
      <div class="checkbox-with-text">
        {% include svgs/checkbox.html class="fill-brand" %}
        <p class="text-bold"><a href="https://www.tfaforms.com/4848809" target="_blank">Register with the Promise Zone</a></p>
      </div>
      <div class="checkbox-with-text">
        {% include svgs/checkbox.html class="fill-brand" %}
        <div>
          <p class="text-bold mb-xl">Be currently enrolled in community college, college, university, or trade school courses or an apprenticeship program</p>
          <p>
            <span class="text-bold">For students at Oakland Community College,</span> this funding is automatically available at each
            <a href="https://www.oaklandcc.edu/bookstore/" target="_blank">campus bookstore</a>. See our
            <a href="/occ-scholarship.html">OCC Scholarship page</a> for specific instructions on how to use this funding!
          </p>
        </div>
      </div>
      <div class="checkbox-with-text">
        {% include svgs/checkbox.html class="fill-brand" %}
        <p class="text-bold">Maintain a 2.0 cumulative GPA and Satisfactory Academic Progress (SAP)</p>
      </div>
      <div class="checkbox-with-text">
        {% include svgs/checkbox.html class="fill-brand" %}
        <p class="text-bold">
          <a href="https://forms.gle/h9ANrECZEvSiAr5x8" target="_blank"
            >Complete the Textbooks and School Supplies Reimbursement application</a
          >
        </p>
      </div>
    </div>
  </div>
</div>
