---
layout: default
title: Viking Scholarship
---

<div class="container">
  <h1 class="text-page-header">Viking Scholarship Overview</h1>

  <p class="text-page-paragraph-intro">
    <span class="text-page-paragraph-intro--bold">Hazel Park nonresident graduates</span> are eligible to receive
    <span class="text-body--bold text-body--brand">up to $500 per semester, up to a total of $2,000, across any two years of college enrollment.</span>
    Scholarship funds can be applied to tuition, housing, associated fees, and other applicable educational expenses. This is a
    <span class="text-body--bold text-body--brand">last-dollar scholarship,</span> meaning students will draw from other funding sources before being awarded
    this scholarship.
  </p>

  <div class="card">
    <h2 class="text-subheader text-align-center">Viking Scholarship Eligibility and Requirements</h2>
    <div class="list">
      <div class="checkbox-with-text">
        {% include svgs/checkbox.html class="fill-brand" %}
        <p class="text-bold"><a href="https://www.tfaforms.com/4848809" target="_blank">Register with the Promise Zone</a></p>
      </div>

      <div class="checkbox-with-text">
        {% include svgs/checkbox.html class="fill-brand" %}
        <p class="text-bold">Graduate from a Hazel Park School District high school within the past 6 years</p>
      </div>

      <div class="checkbox-with-text">
        {% include svgs/checkbox.html class="fill-brand" %}
        <div>
          <p class="text-bold pb-xl">
            Apply, and be accepted to, the Michigan community college, college, university, trade school, or apprenticeship program of your choice
          </p>
          <p>
            <span class="text-bold pb-0">IMPORTANT NOTE:</span> The program you choose
            <a href="https://docs.google.com/spreadsheets/d/108xUDLH_pWXLP42EyuBgnrALcFVMT-Y7-za1R2aUvkE/edit?usp=sharing" target="_blank">must qualify</a> for
            federal financial aid.
          </p>
        </div>
      </div>

      <div class="checkbox-with-text">
        {% include svgs/checkbox.html class="fill-brand" %}
        <p class="text-bold"><a href="https://forms.gle/bJmCNp66TQaHVrqs9" target="_blank">Complete the Viking Scholarship application</a></p>
      </div>

      <div class="checkbox-with-text">
        {% include svgs/checkbox.html class="fill-brand" %}
        <p class="text-bold">Enroll in at least 6 credits per semester</p>
      </div>

      <div class="checkbox-with-text">
        {% include svgs/checkbox.html class="fill-brand" %}
        <p class="text-bold">Maintain a 2.0 cumulative GPA and Satisfactory Academic Progress (SAP)</p>
      </div>
    </div>
  </div>
</div>
