html {
  line-height: 1.5;
  letter-spacing: 1%;
  scroll-behavior: smooth;
  transition: opacity 1s ease-in-out;
  font-family: "Rubik", sans-serif;
  background-color: var(--base-200);
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
  letter-spacing: -1%;
  font-family: "Roboto Slab", serif;
  font-weight: 700;
}

#content {
  padding: 0 1rem;
}

.small-text {
  font-size: var(--fs-sm);
  font-weight: 200;
}