// Headers
h1, .h1 {
  font-size: var(--fs-xxxl);
}

h2, .h2 {
  font-size: var(--fs-xxl);
}

h3, .h3 {
  font-size: var(--fs-xl);
}

h4, .h4 {
  font-size: var(--fs-lg);
}

h5, .h5 {
  font-size: var(--fs-md);
}

h6, .h6 {
  font-size: var(--fs-sm);
}