.college-success-coaching__task-list {
  grid-area: task-list;
  display: flex;
  flex-direction: column;
  gap: var(--sp-xxl);
  max-width: 800px;
  margin-inline: auto;
  padding-left: clamp(var(--sp-md), 5vw, var(--sp-xl));

  &__task {
    display: grid;
    grid-template-columns: min-content 1fr;
    gap: var(--sp-xl);

    svg {
      margin-top: var(--sp-md);
      min-height: var(--sp-xxl);
      min-width: var(--sp-xxl);
      fill: var(--brand);
    }
  }
}

#roadmap-card, #bottom-cards-wrapper {
  max-width: 70rem;
}

.roadmap-contents {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: var(--sp-xxxxl);

  .roadmap-image {
    width: 100%;
  }
}

@media (max-width: 1000px) {
  .roadmap-contents {
    grid-template-columns: 1fr;
    gap: var(--sp-xxl);
  }

  .roadmap-button {
    margin-inline: auto;
  }
}

#bottom-cards-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: var(--sp-xxxxl);
  margin-top: var(--sp-xxxxl);

  @media (max-width: 1000px) {
    grid-template-columns: 1fr;
    gap: var(--sp-xxl);
  }
}