.years {
  display: flex;
  flex-direction: column;
  gap: 8rem;
}

.year {
  display: grid;
  grid-template-columns: 2fr 3fr;
  grid-template-areas: "reports image";
  gap: var(--sp-xxxxl);

  @media (max-width: 900px) {
    grid-template-columns: 1fr;
    grid-template-areas: "reports"
                         "image";
  }

  &__image {
    border-radius: var(--border-radius);
    box-shadow: var(--shadow);
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: 75% top;
    grid-area: image;

    @media (max-width: 900px) {
      display: none;
    }
  }
}

.year:nth-child(even) {
  grid-template-columns: 3fr 2fr;
  grid-template-areas: "image reports";

  @media (max-width: 900px) {
    grid-template-columns: 1fr;
    grid-template-areas: "reports"
                         "image";
  }
}

@media (max-width: 900px) {
  .years {
    gap: var(--sp-xxxl);
  }

  .year, .year:nth-child(even) {
    grid-template-columns: 1fr;
    grid-template-areas: "reports"
                         "image";
    gap: var(--sp-xxl);
    
  }

  .year__title {
    padding-bottom: var(--sp-xxl);
  }
}

