.staff-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(450px, 1fr));
  gap: var(--sp-xxl);

  :last-child:nth-child(3n + 1) {
    grid-column: 2;

    @media (max-width: 1200px) {
      grid-column: 1;
    }
  }
}

.staff {
  display: flex;
  flex-direction: column;
  border-radius: var(--border-radius);
  overflow: hidden;
  background-color: var(--base-100);
  box-shadow: var(--shadow);
  flex-basis: 48%;

  @media (max-width: 900px) {
    flex-basis: 100%;
  }

  &__top {
    padding: var(--sp-xxl);
    padding-bottom: var(--sp-xl);
    background-color: var(--brand);
  }

  &__middle {
    background: linear-gradient(to bottom, var(--brand) 50%, var(--base-100) 50%);
    display: flex;
    justify-content: center;
  }

  &__bottom {
    padding: var(--sp-xxl);
    padding-top: var(--sp-xl);
    background-color: var(--base-100);
    flex-grow: 1;
  }

  &__picture {
    border-radius: 50%;
    border: var(--sp-md) solid var(--brand);
    max-width: 60vw;
    max-height: 60vw;
    object-fit: cover;
    object-position: top;
  }

  &__name {
    padding-bottom: var(--sp-lg);
  }
}
