<div class="faqs">
  {% include components/faq.html
    question="How long am I eligible for the Promise Zone Scholarship?"
    answer="Students are eligible for six year post high school graduation."
  %}
  {% include components/faq.html
    question="What high schools are eligible for Promise Zone support?"
    answer="Hazel Park High School, Vikings Virtual Academy, Hazel Park Advantage High School."
  %}
  {% include components/faq.html
    question="Who is eligible for college advising support?"
    answer="All Hazel Park seniors are eligible."
  %}
  {% include components/faq.html
    question="Who is eligible for college coaching support?"
    answer="All Hazel Park graduates are eligible. (One year after high school graduation.)"
  %}
  {% include components/faq.html
    question="Who is eligible for our community mentoring program?"
    answer="All Hazel Park graduates are eligible. (One year after high school graduation.)"
  %}
  {% include components/faq.html
    question="Who is eligible for community college summer tuition scholarship support?"
    answer="All graduates of Hazel Park Schools. Resident Graduates - up to 6 credits per summer. Non-resident - 4 credits per summer. (Student must be on-track towards a credential.)"
  %}
  {% include components/faq.html
    question="If I live outside the city of Hazel Park but within the Hazel Park school district boundaries. Am I still eligible for the college scholarship?"
    answer="Resident graduates are eligible for a last-dollar tuition-free pathway to an Associate’s Degree at Oakland Community College."
  %}
  {% include components/faq.html
    question="If I live outside Hazel Park school district boundaries, am I still eligible for Promise Zone Scholarship?"
    answer="Non-resident graduates are eligible for a summer tuition scholarship. Up to 4 credits per summer at their in-district community college."
  %}
</div>