<footer class="footer">
  <div class="footer__column">
    <img id="footer__logo" src="{{site.baseurl}}/assets/images/logo/logo.png" alt="Hazel Park Promise Zone logo"></img>
    <div class="footer__column__item">
      PO Box 514<br/>
      Hazel Park, MI 48030
    </div>
    <div class="footer__column__item">(248)-658-5183</div>
    <a href="mailto:moussa.traore@myhpsd.org" class="footer__column__item footer__email">moussa.traore@myhpsd.org</a>
    <a href="mailto:promisezone@myhpsd.org" class="footer__column__item footer__email">promisezone@myhpsd.org</a>
    <div class="footer__column__item footer__socials">
      <div></div>
      <div></div>
      <div></div>
      <div></div>
    </div>
  </div>
  <div class="footer__column">
    <div class="footer__column__header">About</div>
    <a href="{{ site.baseurl }}/staff.html" class="footer__column__item">Staff</a>
    <a href="{{ site.baseurl }}/board-of-directors.html" class="footer__column__item">Board of Directors</a>
    <a href="{{ site.baseurl }}/partners-and-sponsors.html" class="footer__column__item">Partners & Supporters</a>
    <a href="{{ site.baseurl }}/testimonials.html" class="footer__column__item">Testimonials</a>
    <a href="{{ site.baseurl }}/in-the-news.html" class="footer__column__item">In the News</a>
    <a href="{{ site.baseurl }}/impact-reports.html" class="footer__column__item">Impact Reports</a>
    <a href="{{ site.baseurl }}/faqs.html" class="footer__column__item">FAQs</a>
  </div>
  <div class="footer__column">
    <div class="footer__column__header">Services</div>
    <a href="{{ site.baseurl }}/scholarships.html" class="footer__column__item">Scholarships</a>
    <a href="{{ site.baseurl }}/college-preparation.html" class="footer__column__item">College Preparation</a>
    <a href="{{ site.baseurl }}/college-success-coaching.html" class="footer__column__item">College Success Coaching</a>
    <a href="{{ site.baseurl }}/mentor-program.html" class="footer__column__item">Mentor Program</a>
    <a href="{{ site.baseurl }}/sat-test-prep.html" class="footer__column__item">SAT Test Prep</a>
    <a href="{{ site.baseurl }}/resources.html" class="footer__column__item">Resources</a>
  </div>
  <div class="footer__column">
    <div class="footer__column__header">Support Us</div>
    <a href="{{ site.baseurl }}/annual-fundraiser.html" class="footer__column__item">Annual Fundraiser</a>
    <a href="{{ site.baseurl }}/donate.html" class="footer__column__item">Donate</a>
  </div>
</footer>