<div id="info-summer-scholarship" class="scholarship-info hidden">
  <div class="card">
    <div class="scholarship-info__list">
      {% include components/checkmark-and-text.html
        text='
          <div>
            <p class="pb-md">Residents may receive 6 credits covered at OCC each summer.</p>
            <p class="text-italic text-small text-normal max-w-100">While students are able to receive this scholarship for summer courses at other in-state universities, the scholarship amount will be based on the pricing of the equivalent course at OCC, which is likely a fraction of the cost of the university course. For this reason, students are encouraged to take summer courses at OCC.</p>
          </div>
        '
      %}

      {% include components/checkmark-and-text.html
        text='
          <div>
            <p class="pb-md">Non-residents may receive 4 credits covered at their in-district community college each summer.</p>
            <p class="text-italic text-small text-normal max-w-100">While students are able to receive this scholarship for summer courses at other in-state universities, the scholarship amount will be based on the pricing of the equivalent course at their in-district community college, which is likely a fraction of the cost of the university course. For this reason, students are encouraged to take summer courses at their in-district community college.</p>
          </div>
        '
      %}
    </div>
  </div>
</div>