<div id="info-junior-senior-scholarship" class="scholarship-info hidden">
  <div class="card">
    <div class="scholarship-info__list">
      <!-- prettier-ignore -->
      {% include components/checkmark-and-text.html text='
      <div>
        <p class="pb-md">
          Hazel Park nonresident graduates are eligible to receive up to $500 per semester, up to a total of $2,000, across any two years of college enrollment.
        </p>
      </div>
      ' %}
      <!-- prettier-ignore -->
      {% include components/checkmark-and-text.html text='
      <div>
        <p class="pb-md">This scholarship is supported by grant funding and will be offered for as long as that funding remains available.</p>
      </div>
      ' %}
      <!-- prettier-ignore -->
      {% include components/checkmark-and-text.html text='
      <div>
        <p class="pb-md">Scholarship funds can be applied to tuition, housing, associated fees, and other applicable educational expenses.</p>
      </div>
      ' %}
      <!-- prettier-ignore -->
      {% include components/checkmark-and-text.html text='
      <div>
        <p class="pb-md">This is a "last-dollar scholarship", meaning students will draw from other funding sources before being awarded this scholarship.</p>
        <p class="text-italic text-small text-normal max-w-100">
          Pell Grants are exempt from this rule and do not affect the amount you receive from the scholarship.
        </p>
      </div>
      ' %}
    </div>
  </div>
</div>
