<div id="info-textbook-reimbursement" class="scholarship-info hidden">
  <div class="card">
    <div class="scholarship-info__list">
      {% include components/checkmark-and-text.html
        text='
        <div>
          <p class="pb-md">Students are eligible to receive up to $500 each semester as reimbursement for their mandatory books and supplies in their courses and programs.</p>
        </div>
        '
      %}

      {% include components/checkmark-and-text.html
        text='
        <div>
          <p class="pb-md">For students at Oakland Community College, this funding is automatically available at each <a href="https://www.oaklandcc.edu/bookstore" target="_blank">campus bookstore</a>.</p>
        </div>
        '
      %}

      {% include components/checkmark-and-text.html
        text='
        <div>
          <p class="pb-md">Eligible items for reimbursement include textbooks or books (physical or digital), software and technology, specialty protective or career apparel, and other school and studio supplies.</p>
        </div>
        '
      %}
    </div>
  </div>
</div>