<div id="info-university-scholarship" class="scholarship-info hidden">
  <div class="card">
    <div class="scholarship-info__list">
      {% include components/checkmark-and-text.html
        text='
        <div>
          <p class="pb-md">Students are eligible for up to $1,500 per semester*, for a total of $6,000.</p>
          <p class="text-italic text-small text-normal max-w-100">*The amount you are eligible for is determined by what grade you began attending Hazel Park Schools. Please use the calculator below to determine how much you are eligible for.</p>
        </div>
        '
      %}

      {% include components/checkmark-and-text.html
        text='
        <div>
          <p class="pb-md">This is a "last-dollar scholarship", meaning students will draw from other funding sources before being awarded this scholarship.</p>
          <p class="text-italic text-small text-normal max-w-100">For example, a student who is eligible for $1,500 of the Promise Zone scholarship and receives $1,000 from a Pell Grant will only receive $500 from the Promise Zone.</p>
        </div>
        '
      %}
    </div>
  </div>
</div>