<div id="info-university-scholarship" class="scholarship-info hidden">
  <div class="card">
    <div class="scholarship-info__list">
      {% include components/checkmark-and-text.html
        text='
        <div>
          <p class="pb-md">Hazel Park resident graduates are eligible to receive, at minimum, the equivalent funding for an Associate\'s Degree at Oakland Community College.</p>
        </div>
        '
      %}

      {% include components/checkmark-and-text.html
        text='
        <div>
          <p class="pb-md">Scholarship funds can be applied to tuition, on-campus room and board, associated fees, and other applicable educational expenses.</p>
        </div>
        '
      %}

      {% include components/checkmark-and-text.html
        text='
        <div>
          <p class="pb-md">This is a "last-dollar scholarship", meaning students will draw from other funding sources before being awarded this scholarship.</p>
          <p class="text-italic text-small text-normal max-w-100">Pell Grants are exempt from this rule and do not affect the amount you receive from the scholarship.</p>
        </div>
        '
      %}
    </div>
  </div>
</div>