<nav>
  <div class="navbar">
    <div class="logo"><a href="/"><img src="/assets/images/logo/promiseZoneLogoWhiteSmaller-transformed.png" height="80px" /></a></div>
    <div class="nav-links">
      <div class="sidebar-logo">
        <span class="logo-name">
          <img src="/assets/images/logo/promiseZoneLogoWhiteSmaller-transformed.png" height="100px" />
        </span>
        <i class="bx bx-x"></i>
      </div>
      <ul class="links">
        <li class="about-list">
          <a href="#">About</a>
          <i class="bx bxs-chevron-down htmlcss-arrow arrow"></i>
          <ul class="htmlCss-sub-menu sub-menu">
            <li><a href="{{ baseurl }}/staff.html">Staff</a></li>
            <li>
              <a href="{{ baseurl }}/board-of-directors.html"
                >Board of Directors</a
              >
            </li>
            <li><a href="{{ baseurl }}/testimonials.html">Testimonials</a></li>
            <li><a href="{{ baseurl }}/in-the-news.html">In the News</a></li>
            <li>
              <a href="{{ baseurl }}/impact-reports.html">Impact Reports</a>
            </li>
            <li><a href="{{ baseurl }}/faqs.html">FAQs</a></li>
          </ul>
        </li>
        <li class="services-list">
          <a href="#">Services</a>
          <i class="bx bxs-chevron-down js-arrow arrow"></i>
          <ul class="js-sub-menu sub-menu">
            <li>
              <a href="{{ baseurl }}/college-preparation.html"
                >College Preparation</a
              >
            </li>
            <li>
              <a href="{{ baseurl }}/college-success-coaching.html"
                >College Success Coaching</a
              >
            </li>
            <li>
              <a href="{{ baseurl }}/mentor-program.html">Mentor Program</a>
            </li>
            <li>
              <a href="{{ baseurl }}/sat-test-prep.html">SAT Test Prep</a>
            </li>
            <li><a href="{{ baseurl }}/resources.html">Resources</a></li>
          </ul>
        </li>
        <li class="nav-item">
          <a href="{{ baseurl }}/scholarships.html">Scholarships</a>
        </li>
        <li class="nav-item">
          <a href="{{ baseurl }}/annual-fundraiser.html">Annual Fundraiser</a>
        </li>
        <li class="nav-item">
          <a href="{{ baseurl }}/contact.html">Contact</a>
        </li>
        <li class="nav-item donate"><a href="{{ baseurl }}/donate.html">{% include components/button.html text="Donate" alt="true" %}</a></li>
      </ul>
    </div>

    <i class="bx bx-menu"></i>
  </div>
</nav>
