<nav>
  <div class="navbar">
    <div class="logo">
      <a href="{{ site.baseurl }}/"
        ><img
          src="{{ site.baseurl }}/assets/images/logo/logo.png"
          height="80px"
          alt="Hazel Park Promise Zone logo"
      /></a>
    </div>
    <div class="nav-links">
      <div class="sidebar-logo">
        <span class="logo-name">
          <img
            src="{{ site.baseurl }}/assets/images/logo/logo.png"
            height="100px"
            alt="Hazel Park Promise Zone logo"
          />
        </span>
        <i class="bx bx-x"></i>
      </div>
      <ul class="links">
        <li class="about-list">
          <a href="#">About</a>
          <i class="bx bxs-chevron-down htmlcss-arrow arrow"></i>
          <ul class="htmlCss-sub-menu sub-menu">
            <li><a href="{{ site.baseurl }}/staff.html">Staff</a></li>
            <li>
              <a href="{{ site.baseurl }}/board-of-directors.html"
                >Board of Directors</a
              >
            </li>
            <li>
              <a href="{{ site.baseurl }}/partners-and-sponsors.html">Partners & Sponsors</a>
            </li>
            <li>
              <a href="{{ site.baseurl }}/testimonials.html">Testimonials</a>
            </li>
            <li>
              <a href="{{ site.baseurl }}/in-the-news.html">In the News</a>
            </li>
            <li>
              <a href="{{ site.baseurl }}/impact-reports.html"
                >Impact Reports</a
              >
            </li>
            <li><a href="{{ site.baseurl }}/faqs.html">FAQs</a></li>
          </ul>
        </li>
        <li class="services-list">
          <a href="#">Services</a>
          <i class="bx bxs-chevron-down js-arrow arrow"></i>
          <ul class="js-sub-menu sub-menu">
            <li>
              <a href="{{ site.baseurl }}/college-preparation.html"
                >College Preparation</a
              >
            </li>
            <li>
              <a href="{{ site.baseurl }}/college-success-coaching.html"
                >College Success Coaching</a
              >
            </li>
            <li>
              <a href="{{ site.baseurl }}/mentor-program.html"
                >Mentor Program</a
              >
            </li>
            <li>
              <a href="{{ site.baseurl }}/sat-test-prep.html">SAT Test Prep</a>
            </li>
            <li><a href="{{ site.baseurl }}/resources.html">Resources</a></li>
          </ul>
        </li>
        <li class="nav-item">
          <a href="{{ site.baseurl }}/scholarships.html">Scholarships</a>
        </li>
        <li class="nav-item">
          <a href="{{ site.baseurl }}/annual-fundraiser.html"
            >Annual Fundraiser</a
          >
        </li>
        <li class="nav-item">
          <a href="{{ site.baseurl }}/contact.html">Contact</a>
        </li>
        <li class="nav-item donate">
          <a href="{{ site.baseurl }}/donate.html">
            <button class="button button--alt">Donate</button>
          </a>
        </li>
      </ul>
    </div>

    <i class="bx bx-menu"></i>
  </div>
</nav>
