<div id="next-steps-junior-senior-scholarship" class="next-steps d-none">
  <div class="card">
    <div class="next-steps__list">
      {% include components/checkmark-and-text.html
        text='
        <div>
          <p>Fill out the Promise Zone application if you haven\'t already. You only need to do this once, not every semester.</p>
        </div>
        '  
      %}
      <a class="button w-100 mb-xl" href="https://www.tfaforms.com/4848809" target="_blank">Fill out Promise Zone application</a>
      {% include components/checkmark-and-text.html
        text='<p class="pb-xxl">Fill out the Junior/Senior Scholarship application below to upload the required documents to receive your scholarship.</p>'  
      %}
      <a class="button w-100" href="https://docs.google.com/forms/d/e/1FAIpQLSd9so-KUXYTrO0Tx2zXHlcrItCBMkJQGrVXmVhS6eWeYwTnng/viewform?usp=pp_url" target="_blank">Fill out Junior/Senior Scholarship application</a>
    </div>
  </div>
</div>