<div id="next-steps-textbook-reimbursement" class="next-steps d-none">
  <div class="card mb-xxxxl">
    <div class="next-steps__list">
      {% include components/checkmark-and-text.html text='
      <p class="pb-md">Apply for textbook and school supply reimbursement</p>
      ' %}
      <a
        class="button w-100"
        href="https://docs.google.com/forms/d/e/1FAIpQLSct6Z8NBjNyco76dg2ZGD0hDb6VOW-w4nEWoMQWrUxipeMUOg/viewform?usp=publish-editor"
        target="_blank"
        >Apply for textbook and school supply reimbursement</a
      >
    </div>
  </div>
</div>
