<div id="next-steps-university-scholarship" class="next-steps d-none">
  <div class="card">
    <div class="next-steps__list">
      {% include components/checkmark-and-text.html
        text='
        <div>
          <p>If you are a high school senior, fill out the Promise Zone application if you haven\'t already. You only need to do this once, not every semester.</p>
        </div>
        '  
      %}
      <a class="button w-100 mb-xl" href="https://www.tfaforms.com/4848809" target="_blank">Fill out Promise Zone application</a>

      {% include components/checkmark-and-text.html
        text='<p class="pb-md">Fill out the University Scholarship application below to upload the required documents to receive your scholarship.</p>'  
      %}
      <a class="button w-100" href="https://docs.google.com/forms/d/e/1FAIpQLSfTqJZCrvRapL3_KCt9_Dhjd2Khjgqne_Zfkt3LjNChA46DUQ/viewform?usp=pp_url" target="_blank">Fill out University Scholarship application</a>
    </div>
  </div>
</div>