<div id="next-steps-university-scholarship" class="next-steps hidden">
  <div class="card">
    <div class="next-steps__list">
      {% include components/checkmark-and-text.html
        text='<p class="pb-xxl">Fill out the University Scholarship application below to upload the required documents to receive your scholarship.</p>'  
      %}
        <a class="button w-100" href="https://docs.google.com/forms/d/e/1FAIpQLSfTqJZCrvRapL3_KCt9_Dhjd2Khjgqne_Zfkt3LjNChA46DUQ/viewform?usp=pp_url" target="_blank">Fill out University Scholarship application</a>
    </div>
  </div>
</div>