<div id="next-steps-junior-senior-scholarship" class="next-steps d-none">
  <div class="card mb-xxxxl">
    <div class="next-steps__list">
      <!-- prettier-ignore -->
      {% include components/checkmark-and-text.html
        text='
      <p class="pb-xxl">Complete the Viking Scholarship application below to upload the required documents to receive your scholarship.</p>
      ' %}
      <a class="button w-100" href="https://forms.gle/BP9nLURYhRNozUf68" target="_blank">Fill out Viking Scholarship application</a>
    </div>
  </div>
</div>
