<div id="{{include.id}}" class="card scholarship-option slide-up {% if include.selected == 'true' %} selected {% endif %}" role="radio" aria-checked="{% if include.selected %}true{% else %}false{% endif %}" tabindex="0">
  <div class="scholarship-option__logo">
    {{ include.logo }}
  </div>
  <h4 class="text-body--bold text-align-center pb-xxxl">{{ include.name }}</h4>
  <div class="scholarship-option__criteria">
    <div class="scholarship-option__criteria__item">
      {% include svgs/checkbox.html class="fill-brand" %}
      <p>{{ include.criteria--attending }}</p>  
    </div>
    <div class="scholarship-option__criteria__item">
      {% include svgs/checkbox.html class="fill-brand" %}
      <p>{{ include.criteria--grade }}</p>
    </div>
    <div class="scholarship-option__criteria__item">
      {% include svgs/checkbox.html class="fill-brand" %}
      <p>{{ include.criteria--semester }}</p>  
    </div>
  </div>
</div>