<div class="testimonial slide-up">
  <div class="testimonial__top">
    <p class="testimonial__text"><span class="text-body--bold">The Hazel Park Promise Zone</span> {{ include.text }}</p>
  </div>
  <div class="testimonial__middle">
    <img class="testimonial__picture" src="{{ site.baseurl }}/assets/images/testimonials/{{ include.filename }}.webp" alt="{{ include.name }}" height="200" width="200" />
  </div>
  <div class="testimonial__bottom">
    <div class="testimonial__name text-align-center text-subheader text-subheader--light">{{ include.name }}</div>
    <div class="testimonial__university text-align-center text-small text-italic text-body--light">{{ include.university}}</div>
  </div>
</div>