<div class="three-column-person-info">
  <div class="three-column-person-info__person slide-right">
    <img class="three-column-person-info__person__img" src="{{ site.baseurl }}/assets/images/staff/{{ include.filename1 }}.webp" alt="{{ include.name1 }}" />
    <p class="three-column-person-info__person__name text-header">{{ include.name1 }}</p>
    <p class="three-column-person-info__person__title text-italic">{{ include.title1 }}</p>
  </div>
  <h2 class="text-page-subheader slide-up"><span class="text-page-subheader--bold">{{ include.bold-text }}</span> {{ include.text }}</h2>
    <div class="three-column-person-info__person slide-left">
    <img class="three-column-person-info__person__img" src="{{ site.baseurl }}/assets/images/staff/{{ include.filename2 }}.webp" alt="{{ include.name2 }}" />
    <p class="three-column-person-info__person__name text-header">{{ include.name2 }}</p>
    <p class="three-column-person-info__person__title text-italic">{{ include.title2 }}</p>
  </div>
</div>
