<div class="two-column-person-info">
  <div class="two-column-person-info__person">
    <img class="two-column-person-info__person__img" src="{{ site.baseurl }}/assets/images/staff/{{ include.filename }}.jpg" alt="{{ include.name }}" />
    <p class="two-column-person-info__person__name text-header">{{ include.name }}</p>
    <p class="two-column-person-info__person__title text-italic">{{ include.title }}</p>
  </div>
  <h2 class="text-page-subheader"><span class="text-page-subheader--bold">{{ include.bold-text }}</span> {{ include.text }}</h2>
</div>
