.button {
  border-radius: var(--border-radius);
  padding: 1em 2em;
  margin: 1rem 1rem 1rem 0;
  background-color: var(--brand);
  color: var(--base-200);
  font-size: 1rem;
  font-family: var(--ff-header);
  font-weight: 600;
  letter-spacing: 2px;
  text-transform: uppercase;
  border: none;
  box-shadow: 0px 0.5rem 0px 0px var(--brand-alt), var(--shadow);
  position: relative;
  top: -0.5rem;
  left: 0;
  transition: all 100ms ease-in-out;
}

.button:hover {
  cursor: pointer;
  top: -0.25rem;
  box-shadow: 0px 0.25rem 0px 0px var(--brand-alt), 0 4px 8px 2px rgba(0,0,0,0.1);
}

.button:active {
  top: 0rem;
  box-shadow: 0px 0px 0px 0px var(--brand-alt);
}

.button.button--alt {
  background-color: var(--base-100);
  color: var(--base-900);
  box-shadow: 0px 0.5rem 0px 0px var(--base-300), var(--shadow);
}

.button.button--alt:hover {
  box-shadow: 0px 0.25rem 0px 0px var(--base-300), 0 4px 8px 2px rgba(0,0,0,0.1);
}

.button.button--alt:active {
  box-shadow: 0px 0px 0px 0px var(--base-300);
}

.button--large {
  font-size: 1.5rem;
}
@media (max-width: 700px) {
  .button {
    width: 100%;
  }
}