.newsletter {

  box-shadow: var(--shadow--top);

  h2 {
    padding-bottom: var(--sp-xxl);
  }

  p {
    padding-bottom: var(--sp-xxxl);
  }

  form {
    display: flex;
    flex-direction: row;
    gap: var(--sp-xxl);
    max-width: 60rem;
    margin-inline: auto;

    @media (max-width: 700px) {
      flex-wrap: wrap;

      button {
        flex-grow: 1;
      }
    }

    input[type="email"] {
      flex-grow: 1;
    }
  }
}

.footer {
  background-color: var(--base-900);
  padding: var(--sp-xxl);
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: var(--sp-xxl);

  &__column {
    display: flex;
    flex-direction: column;
    gap: var(--sp-xl);

    &__header {
      color: var(--base-100);
      text-transform: uppercase;
      font-family: var(--ff-header);
      font-size: var(--fs-xl);
      font-weight: 600;
      padding-bottom: var(--sp-lg);
    }

    &__item {
      color: var(--base-200);
      font-family: var(--ff-body);
      font-size: var(--fs-lg);
    }
  }

  a.footer__column__item:hover {
    text-decoration: underline;
  }

  &__socials {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  &__socials > * {
    height: 40px;
    width: 40px;
  }

  a:not(.footer__email) {
    text-decoration: none;
  }
}