.mc-field-group {
  display: grid;
  grid-template-columns: auto min-content;
  grid-template-areas: "email submit"
                       "required required";
  max-width: 60rem;
  margin-inline: auto;
  column-gap: var(--sp-xxl);

  input[type="email"] {
    grid-area: email;
  }

  input[type="submit"] {
    grid-area: submit;
  }

  .mce_inline_error:not(input) {
    grid-area: required;
    background: none !important;
    padding: 0 !important;
    margin: 0 !important;
    margin-top: var(--sp-xl) !important;
    color: yellow !important;
  }

  @media (max-width: 700px) {
    grid-template-columns: auto;
    grid-template-areas: "email"
                         "required"
                         "submit";

    input[type="submit"] {
      margin-top: var(--sp-xxl);
    }
  }
}

#mce-responses {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  max-width: 60rem;
  margin-inline: auto;
}

#mce-responses .response {
  width: 100%;
  margin-top: var(--sp-xl);
  font-size: var(--fs-lg);
}

#mce-error-response {
  color: yellow;
}

#mce-success-response {
  color: #3ee13e;
}

.newsletter {

  box-shadow: var(--shadow--top);

  h2 {
    padding-bottom: var(--sp-xxl);
  }

  p {
    padding-bottom: var(--sp-xxxl);
  }

  // form {
  //   display: flex;
  //   flex-direction: row;
  //   gap: var(--sp-xxl);
  //   max-width: 60rem;
  //   margin-inline: auto;

  //   @media (max-width: 700px) {
  //     flex-wrap: wrap;

  //     button {
  //       flex-grow: 1;
  //     }
  //   }

  //   input[type="email"] {
  //     flex-grow: 1;
  //   }
  // }
}

footer {
  background-color: var(--base-900);

  & *:focus-visible {
    outline-color: var(--base-100);
  }
}

.footer {
  padding: var(--sp-xxl);
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: var(--sp-xxxxl);

  &__column {
    display: flex;
    flex-direction: column;
    gap: var(--sp-xl);

    &__header {
      color: var(--base-100);
      text-transform: uppercase;
      font-family: var(--ff-header);
      font-size: var(--fs-xl);
      font-weight: 600;
      padding-bottom: var(--sp-lg);
    }

    &__item {
      color: var(--base-200);
      font-family: var(--ff-body);
      font-size: var(--fs-lg);
    }
  }

  a.footer__column__item:hover {
    text-decoration: underline;
  }

  &__socials {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  &__socials > * {
    height: 40px;
    width: 40px;
  }

  a:not(.footer__email) {
    text-decoration: none;
  }
}

#privacy-policy-and-terms-and-conditions-wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  column-gap: var(--sp-xl);

  a {
    font-size: var(--fs-lg);
  }

  * {
    color: var(--base-100);
    text-wrap: nowrap;
  }
}

.website-by {
  width: 100%;
  margin-inline: auto;

  a {
    color: var(--base-100);
  }
}