/* Create a custom radio button */
.grade-radio-button-wrapper {
  position: absolute;
  z-index: 3;
  left: 0;
  width: var(--sp-xl);
  height: var(--sp-xl);
  transition: transform 0.2s ease;

  &:hover,
  &:focus {
    transform: scale(1.1);

    /* On mouse-over, add a brand background color */
    .grade-radio-button-checkmark {
      background: rgb(177, 85, 85);
    }
  }
}

.grade-radio-button-checkmark {
  position: absolute;
  display: inline-block;
  height: inherit;
  width: inherit;
  background: var(--base-100);
  outline: 6px solid var(--brand);
  border-radius: 50%;
  cursor: pointer;
  transition: all 0.2s ease;
}

/* When the radio button is checked, add a background */
.grade-radio-button-checkmark.checked {
  background: var(--brand) !important;
}

.grade-radio-button-grade {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  // left: is caculated in grade-range-radio-option.js
  text-wrap: nowrap;
  font-weight: 600;
}

.grade-radio-button-percentage {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: var(--sp-xl);
  text-wrap: nowrap;
  font-size: var(--fs-lg);
}