body {
  min-height: 100vh;
}
nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: var(--brand);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.2);
  z-index: 1;
  transition: top 0.2s ease-in-out;
}

nav.container {
  padding-top: var(--sp-md);
  padding-bottom: var(--sp-md);
}

nav.navbar--hidden {
  top: -110px;
}

nav .navbar {
  
  max-width: 1600px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.navbar a {
  font-family: var(--ff-header);
}
.navbar .logo a {
  font-size: 30px;
  color: var(--base-200);
  text-decoration: none;
  font-weight: 600;
}


nav .navbar .links {
  display: flex;
  gap: 0.5rem;
}
nav .navbar .links li {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  list-style: none;
  padding: 0 1rem;
  margin: 0;
}

.links li a {
  
  text-decoration: none;
  white-space: nowrap;
  color: var(--base-200);
  font-weight: 600;
  text-transform: uppercase;
  width: 100%;
  font-size: var(--fs-lg);
}

.sub-menu a {
  display: block;
  width: 100%;
}

.links li:not(.donate)::before {
  content: "";
  height: 4px;
  width: 0;
  border-radius: 100px;
  background-color: var(--base-200);
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: 2;
  transition: all 200ms ease-in-out;
}

.links li:not(.donate):hover::before {
  width: 100%;
}

.links li:hover:not(.donate) {
  cursor: pointer;
}

.links li:hover .htmlcss-arrow,
.links li:hover .js-arrow {
  transform: rotate(180deg);
}

nav .navbar .links li .arrow {
  
  width: 22px;
  line-height: 70px;
  text-align: center;
  display: inline-block;
  color: var(--base-200);
  transition: all 0.3s ease;
}
nav .navbar .links li .sub-menu {
  position: absolute;
  top: 70px;
  left: 0;
  line-height: 40px;
  background: var(--brand);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  border-radius: var(--border-radius);
  border: 4px solid var(--brand-alt);
  display: none;
  z-index: 2;
}
nav .navbar .links li:hover .htmlCss-sub-menu,
nav .navbar .links li:hover .js-sub-menu {
  display: block;
}
.navbar .links li .sub-menu li {
  padding: 0 1rem;
  border-radius: 0px;
}
.navbar .links li .sub-menu a {
  color: var(--base-200);
  font-weight: 500;
}
.navbar .links li .sub-menu .more-arrow {
  line-height: 40px;
}
.navbar .links li .sub-menu .more-sub-menu {
  position: absolute;
  top: 0;
  left: 100%;
  border-radius: var(--border-radius);
  z-index: 1;
  display: none;
}
.links li .sub-menu .more:hover .more-sub-menu {
  display: block;
}
.sub-menu li:first-child {
  border-radius: var(--border-radius) var(--border-radius) 0 0 !important;
}
.navbar .nav-links .sidebar-logo {
  display: none;
}
.navbar .bx-menu {
  display: none;
}
.links li {
  border-radius: var(--border-radius);
}
@media (max-width: 1500px) {
  nav .navbar {
    max-width: 100%;
  }

  nav .navbar .logo a {
    font-size: 27px;
  }
  nav .navbar .links li {
    padding: 0.5rem;
    white-space: nowrap;
  }

  .navbar .bx-menu {
    display: block;
    cursor: pointer;
  }
  .navbar .bx-x {
    cursor: pointer;
  }
  nav .navbar .nav-links {
    position: fixed;
    height: 100%;
    top: 0;
    left: -100%;
    display: block;
    max-width: 500px;
    width: 100%;
    background: var(--brand);
    line-height: 40px;
    padding: 20px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    transition: all 0.5s ease;
    z-index: 1000;
  }
  .navbar .nav-links .sidebar-logo {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .sidebar-logo .logo-name {
    color: var(--base-200);
  }
  .sidebar-logo i,
  .navbar .bx-menu {
    font-size: 3rem;
    color: var(--base-200);
  }
  nav .navbar .links {
    display: block;
    margin-top: 20px;
  }
  nav .navbar .links li .arrow {
    line-height: 40px;
  }
  nav .navbar .links li {
    display: block;
  }
  nav .navbar .links li .sub-menu {
    position: relative;
    top: 0;
    box-shadow: none;
    display: none;
  }
  nav .navbar .links li .sub-menu li {
    border-bottom: none;
  }
  .navbar .links li .sub-menu .more-sub-menu {
    display: none;
    position: relative;
    left: 0;
  }
  .navbar .links li .sub-menu .more-sub-menu li {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .links li:hover .htmlcss-arrow,
  .links li:hover .js-arrow {
    transform: rotate(0deg);
  }
  .navbar .links li .sub-menu .more-sub-menu {
    display: none;
  }
  .navbar .links li .sub-menu .more span {
    /* background: red; */
    display: flex;
    align-items: center;
    /* justify-content: space-between; */
  }

  .links li .sub-menu .more:hover .more-sub-menu {
    display: none;
  }
  nav .navbar .links li:hover .htmlCss-sub-menu,
  nav .navbar .links li:hover .js-sub-menu {
    display: none;
  }
  .navbar .nav-links.show-about-list .links .htmlCss-sub-menu,
  .navbar .nav-links.show-services-list .links .js-sub-menu {
    display: block;
    height: fit-content;
  }
  .navbar .nav-links.show-about-list .links .htmlcss-arrow,
  .navbar .nav-links.show-services-list .links .js-arrow {
    transform: rotate(180deg);
  }
  .links li.about-list::before,
  .links li.services-list::before {
    top: 3rem;
  }

  nav .navbar .links li .sub-menu {
    margin-top: 0.25rem;
    border: none;
  }

  nav .navbar .links li.donate {
    margin-top: var(--sp-xl);
  }
}
@media (max-width: 370px) {
  nav .navbar .nav-links {
    max-width: 100%;
  }
}

#navbar-space {
  height: 100px;
}

.about-list button,
.services-list button {
  background: none;
  border: none;
  font-family: var(--ff-header);
  font-size: var(--fs-lg);
  text-transform: uppercase;
  color: var(--base-100);
  font-weight: 600;
}