.report {
  background-color: var(--base-100);
  border-radius: var(--border-radius);
  box-shadow: var(--shadow);
  object-fit: contain;
  margin-bottom: var(--sp-xxl);
  grid-area: reports;
  padding: var(--sp-xxl);

  &:last-of-type {
    margin-bottom: 0;
  }

  &__title {
    padding-bottom: var(--sp-xxl);
  }

  &__button {
    width: 100%;
  }
}