<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/png" sizes="16x16" href="{{site.baseurl}}/assets/images/favicon/favicon-16x16.png">
    <link rel="icon" type="image/png" sizes="32x32" href="{{site.baseurl}}/assets/images/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="{{site.baseurl}}/assets/images/favicon/favicon-96x96.png">
    <link rel="apple-touch-icon" sizes="57x57" href="{{site.baseurl}}/assets/images/favicon/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="{{site.baseurl}}/assets/images/favicon/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="{{site.baseurl}}/assets/images/favicon/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="{{site.baseurl}}/assets/images/favicon/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="{{site.baseurl}}/assets/images/favicon/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="{{site.baseurl}}/assets/images/favicon/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="{{site.baseurl}}/assets/images/favicon/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="{{site.baseurl}}/assets/images/favicon/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="{{site.baseurl}}/assets/images/favicon/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192" href="{{site.baseurl}}/assets/images/favicon/android-icon-192x192.png">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="{{site.baseurl}}/assets/images/favicon/ms-icon-144x144.png">
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/styles.css" />
    <script
      type="text/javascript"
      src="{{ site.baseurl }}/assets/javascript/navbar.js"
      defer
    ></script>
    <script
      type="text/javascript"
      src="{{ site.baseurl }}/assets/javascript/button.js"
      defer
    ></script>
    <script
      type="text/javascript"
      src="{{ site.baseurl }}/assets/javascript/faq.js"
      defer
    ></script>
    <script
      type="text/javascript"
      src="{{ site.baseurl }}/assets/javascript/impact-reports.js"
      defer
    ></script>
    <script>window.siteBaseUrl = "{{ site.baseurl | escape }}"</script>
    <script
    type="text/javascript"
    src="{{ site.baseurl }}/assets/javascript/download-sponsor-form.js"
    defer
  ></script>
  <script
    type="text/javascript"
    src="{{ site.baseurl }}/assets/javascript/animations.js"
    defer
  ></script>
    <title>{{ page.title }}</title>
  </head>
  <body>
    {% include components/navbar.html %}
    {{ content }}
    {% include components/footer.html %}
  </body>
</html>
