html {
  line-height: 1.6;
  scroll-behavior: smooth;
  transition: opacity 1s ease-in-out;
  font-family: "Rubik", sans-serif;
  background-color: var(--base-200);
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
  letter-spacing: -1%;
  font-family: var(--ff-header);
  font-weight: 700;
  line-height: 1.1;
}

input, textarea {
  border-radius: var(--border-radius);
  padding: var(--sp-lg);
  font-size: var(--fs-lg);
  box-shadow: var(--shadow);
  min-width: 10rem;
  min-height: var(--sp-xxxxl);
  border: none;
  background-color: var(--base-100);
}

a {
  color: var(--brand);
}

#content {
  padding: 0 1rem;
}

.container {
  padding: var(--sp-xxxxl);

  @media (max-width: 1000px) {
    padding-inline: var(--sp-xxl);
  }

  @media (max-width: 600px) {
    padding-inline: var(--sp-xl);
  }

  & > * {
    max-width: 1600px;
    margin-inline: auto;
  }

}

/* TYPOGRAPHY */
.text-subheader {
  font-family: var(--ff-header);
  font-size: var(--fs-xxl);
  font-weight: 600;
  padding-bottom: var(--sp-xxxl);

  &--light {
    color: var(--base-100);
  }

  &--dark {
    color: var(--base-900);
  }

  &--brand {
    color: var(--brand);
  }

  &--bold {
    font-weight: 800;
  }
}

.text-header {
  font-family: var(--ff-header);
  font-size: var(--fs-xxxl);
  font-weight: 700;
  padding-bottom: var(--sp-xxxl);
  line-height: 1.1;

  &--light {
    color: var(--base-100);
  }

  &--dark {
    color: var(--base-900);
  }

  &--brand {
    color: var(--brand);
  }

  &--bold {
    font-weight: 800;
  }
}

.text-page-header {
  position: relative;
  font-family: var(--ff-header);
  font-size: var(--fs-xxxxl);
  font-weight: 900;
  margin-bottom: var(--sp-xxxl);
  width: -moz-fit-content;
  width: fit-content;
  text-align: center;

  &::after {
    content: "";
    width: 100%;
    height: 8px;
    background-color: var(--brand);
    border-radius: 50px;
    position: absolute;
    left: 0;
    bottom: -1rem;
  }
}

.text-page-subheader {
  font-family: var(--ff-body);
  font-size: var(--fs-lg);
  font-weight: 400;
  max-width: 75ch;
  line-height: 1.6;
  padding-bottom: var(--sp-xxxl);

  &--bold {
    font-size: var(--fs-xl);
    font-weight: 600;
  }
}

p, .text-body {
  font-size: var(--fs-lg);
  font-weight: 400;
  line-height: 1.6;
  max-width: 75ch;
  color: var(--base-800);
}

.text-body {

  &--light {
    color: var(--base-200);
  }

  &--dark {
    color: var(--base-800);
  }

  &--brand {
    color: var(--brand);
  }

  &--bold {
    font-family: var(--ff-header);
    font-weight: 600;
    font-size: var(--fs-xl);
  }

  &--small {
    font-size: var(--fs-sm);
    font-weight: 200;
  }
}

.text-lightest {
  color: var(--base-100);
}

.text-light {
  color: var(--base-200);
}

.text-dark {
  color: var(--base-800);
}

.text-darkest {
  color: var(--base-900);
}

.text-brand {
  color: var(--brand);
}

.text-brand--alt {
  color: var(--brand-alt);
}

.text-align-center {
  text-align: center;
}

.text-small {
  font-size: var(--fs-sm);
}

.text-italic {
  font-style: italic;
}

.text-bold {
  font-weight: 700;
}
/* END TYPOGRAPHY */


/* BACKGROUND COLORS */
.bg-lightest {
  background-color: var(--base-100);
}

.bg-light {
  background-color: var(--base-200);
}

.bg-dark {
  background-color: var(--base-800);
}

.bg-darkest {
  background-color: var(--base-900);
}

.bg-brand {
  background-color: var(--brand);
}
/* END COLORS */

/* LINES */
.line {

  background-color: var(--base-400);
  border-radius: var(--border-radius);
  
  &--vertical {
    width: 4px;
    height: 100%;
  }

  &--horizontal {
    height: 4px;
    width: 100%;
  }

  &--brand {
    background-color: var(--brand);
  }

  &--light {
    opacity: 0.5;
  }
}
/* END LINES */

/* FONT FAMILIES */
.ff-header {
  font-family: var(--ff-header);
}

.ff-body {
  font-family: var(--ff-body);
}
/* END FONT FAMILIIES*/

/* MISC */
.shadow {
  box-shadow: var(--shadow);
}

.contact-form {
  width: 100%;
  height: 900px;
  display: block;

  @media (max-width: 750px) {
    height: 1000px;
  }
}
/* END MISC */