// Headers
h1, .h1 {
  font-size: var(--fs-xxxl);
}

h2, .h2 {
  font-size: var(--fs-xxl);
}

h3, .h3 {
  font-size: var(--fs-xl);
}

h4, .h4 {
  font-size: var(--fs-lg);
}

h5, .h5 {
  font-size: var(--fs-md);
}

h6, .h6 {
  font-size: var(--fs-sm);
}

.card {
  background-color: var(--base-100);
  box-shadow: var(--shadow);
  padding: var(--sp-xxxl);
  border-radius: var(--border-radius);
}

.fw-light {
  font-weight: var(--fw-light);
}

.fw-normal {
  font-weight: var(--fw-normal);
}

.fw-semibold {
  font-weight: var(--fw-semibold);
}

.fw-bold {
  font-weight: var(--fw-bold);
}