:root {
  // Colors
  --base-50: #fafaf9; 
  --base-100: #f5f5f4; // Header text. Button background color.
  --base-200: #e7e5e4; // Body text;
  --base-300: #d6d3d1;
  --base-400: #a8a29e; // Button background.
  --base-500: #78716c;
  --base-600: #57534e;
  --base-700: #44403c;
  --base-800: #292524; // Body text.
  --base-900: #1c1917; // Header text.
  --base-950: #0c0a09; 

  --brand: #7F010D;
  --brand-alt: #681109;

  // Typography
  --fs-xs: clamp(0.79rem, -0.3vi + 0.87rem, 0.64rem);
  --fs-sm: clamp(0.89rem, -0.18vi + 0.93rem, 0.8rem);
  --fs-md: clamp(1rem, 0vi + 1rem, 1rem);
  --fs-lg: clamp(1.13rem, 0.25vi + 1.06rem, 1.25rem);
  --fs-xl: clamp(1.27rem, 0.59vi + 1.12rem, 1.56rem);
  --fs-xxl: clamp(1.42rem, 1.06vi + 1.16rem, 1.95rem);
  --fs-xxxl: clamp(1.6rem, 1.68vi + 1.18rem, 2.44rem);
  --fs-xxxxl: clamp(1.75rem, 1.3333rem + 2.2222vw, 4rem);
  --ff-header: "Roboto Slab", serif; 
  --ff-body: "Rubik", sans-serif;

  // Spacing
  --sp-none: 0rem;
  --sp-xs: 0.125rem;
  --sp-sm: 0.25rem;
  --sp-md: 0.5rem;
  --sp-lg: 0.75rem;
  --sp-xl: 1rem;
  --sp-xxl: 2rem;
  --sp-xxxl: 3rem;
  --sp-xxxxl: 4rem;
  --sp-xxxxxl: 5rem;

  // Misc
  --border-radius: 0.5rem;
  --shadow: 0px 8px 8px 2px rgba(0, 0, 0, 0.2);
  --shadow--top: 0px -8px 8px 2px rgba(0, 0, 0, 0.2);
  --button-shadow-brand: 0px 0.5rem 0px 0px var(--brand-alt), var(--shadow);
  --button-shadow-grey: 0px 0.5rem 0px 0px var(--base-400), var(--shadow);
}